.wrapper {
    --header-height: 100px;
    --sidebar-width: 80px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    > header {
        background: var(--bar-bg);
        display: flex;
        height: var(--header-height);
        position: fixed;
        width: 100%;
        .logo {
            align-items: center;
            display: flex;
            flex: 1 1 var(--sidebar-width);
            justify-content: center;
            min-width: var(--sidebar-width);
        }
    }
    > main {
        display: flex;
        min-height: 100vh;
        padding-top: var(--header-height);
    }
}

.content {
    flex: 1 1 calc(100%);
    position: relative;
}
.inner {
    height: calc(100vh - var(--header-height));
    overflow: auto;
    padding: 24px;
    display: flex;
    > section {
        width: 50%;
        flex: 1 0 auto;
        padding: 20px;
    }
}

.sidebar {
    background: var(--bar-bg);
    flex: 1 0 var(--sidebar-width);
    height: calc(100vh - var(--header-height));
    overflow: auto;
    text-align: center;
    z-index: 2;
    position: relative;
    nav {
        list-style: none;
        margin: 0;
        padding: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    img {
        display: block;
        margin: auto;
        margin-bottom: 10px;
        width: 32px;
        height: 32px;
    }
    span {
        display: block;
        margin: auto;
        margin-bottom: 10px;
    }
    a {
        color: var(--bar);
        display: block;
        font-size: 11px;
        height: 80px;
        padding-top: 12px;
        width: var(--sidebar-width);
        text-decoration: none;
        text-transform: uppercase;
        border-right: 2px solid transparent;
        &:hover {
            border-right: 2px solid var(--highlight);
        }
        &[aria-current='true'] {
            background: var(--bar-alt);
            border-right: 2px solid var(--highlight);
        }
    }
}

.seedsList {
    flex: 1 1 calc(100% - var(--sidebar-width));
    display: flex;
    ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        width: calc(100% - var(--sidebar-width));
        height: 100%;
    }

    li {
        align-items: center;
        border-bottom: 1px solid transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 16px;
        min-width: 90px;
        text-align: center;
        position: relative;
        border-top: 3px solid transparent;
        &:after {
            content: '';
            position: absolute;
            bottom: -1px;
            width: 100%;
            border-top: 3px solid transparent;
        }
        &.active:after {
            border-bottom: 2px solid var(--highlight);
        }
    }

    h1,
    h2 {
        margin: 0;
        font-size: var(--font-size-medium);
        text-align: left;
        font-weight: 400;
    }
    h1 {
        margin-bottom: 4px;
    }
    h2 {
        font-size: var(--font-size-small);
        font-weight: 200;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.pageTransition {
    opacity: 1;
    &-enter {
        animation-name: fade-in;
        animation-duration: 0.3s;
        animation-fill-mode: both;
        animation-timing-function: ease;
        z-index: 1;
    }
    &-exit {
        animation-name: fade-out;
        animation-duration: 0.3s;
        animation-fill-mode: both;
        animation-timing-function: ease;
    }
}

::-webkit-scrollbar {
    width: 8px;
    background: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 16px;
}
