.wrapper {
    --header-height: 100px;
    --sidebar-width: 80px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    > header {
        background: var(--color-item-bg);
        display: flex;
        height: var(--header-height);
        position: fixed;
        width: 100%;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
        .logo {
            align-items: center;
            display: flex;
            flex: 1 1 var(--sidebar-width);
            justify-content: center;
            min-width: var(--sidebar-width);
        }
    }
    > main {
        display: flex;
        min-height: 100vh;
        padding-top: var(--header-height);
    }
    .content {
        flex: 1 1 calc(100% - var(--sidebar-width));
        position: relative;
    }
    .inner {
        height: calc(100vh - var(--header-height));
        overflow: auto;
        padding: 24px;
        display: flex;
        > section {
            width: 50%;
            flex: 1 0 auto;
            padding: 20px 40px;
        }
    }
}

.sidebar {
    background: var(--color-item-bg);
    flex: 1 1 var(--sidebar-width);
    height: calc(100vh - var(--header-height));
    overflow: auto;
    text-align: center;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.4);
    z-index: 2;
    position: relative;
    nav {
        list-style: none;
        margin: 0;
        padding: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    img {
        display: block;
        margin: auto;
        margin-bottom: 10px;
        width: 36px;
        height: 36px;
    }
    a {
        border-bottom: 1px solid var(--color-sidenav-underline);
        color: var(--color-sidenav-text);
        display: block;
        font-size: 11px;
        margin: 10px 0;
        height: 80px;
        width: var(--sidebar-width);
        text-decoration: none;
        text-transform: uppercase;
        opacity: 0.4;
        transition: all 0.2s ease-out;
        &:global(.nav-active),
        &:hover {
            opacity: 1;
        }
    }
}

.seedsList {
    flex: 1 1 calc(100% - var(--sidebar-width));
    display: flex;
    ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        width: calc(100% - var(--sidebar-width));
        height: 100%;
    }

    li {
        align-items: center;
        border-bottom: 1px solid transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 16px;
        text-align: center;
        position: relative;
        border-top: 3px solid transparent;
        &:after {
            content: '';
            position: absolute;
            bottom: -1px;
            width: 100%;
            border-top: 3px solid transparent;
        }
        &.active:after {
            border-bottom: 3px solid var(--color-yellow);
            box-shadow: 0 2px 2px rgba(247, 208, 2, 0.2);
        }
    }

    h1,
    h2 {
        margin: 0;
        font-size: var(--font-size-medium);
        text-align: left;
        font-weight: 400;
    }
    h1 {
        margin-bottom: 4px;
    }
    h2 {
        font-size: var(--font-size-small);
        font-weight: 200;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.pageTransition {
    opacity: 1;
    &-enter {
        animation-name: fade-in;
        animation-duration: 0.3s;
        animation-fill-mode: both;
        animation-timing-function: ease;
        z-index: 1;
    }
    &-exit {
        animation-name: fade-out;
        animation-duration: 0.3s;
        animation-fill-mode: both;
        animation-timing-function: ease;
    }
}

::-webkit-scrollbar {
    width: 8px;
    background: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 16px;
}
