@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.wrapper {
    margin: 0 auto;
    max-width: 100%;
    max-width: 512px;
    text-align: center;
    padding: 0 20px;

    > div,
    > section,
    > form {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100vh;
        width: 100%;

        > header,
        > main,
        > footer {
            width: 100%;
        }

        > main {
            display: flex;
            flex: 1 1 auto;
            flex-direction: column;
            justify-content: center;
        }

        > header,
        > footer {
            flex: 0 1 auto;
            padding: 20px 0;
        }
    }
}

.body-seed {
    .wrapper {
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        transform: none;
        left: 0px;
        position: relative;
    }
    @media print {
        .wrapper {
            aside,
            footer,
            header,
            p,
            button {
                display: none;
            }
        }
    }
}

.formGroup {
    text-align: left;
    margin: 0 0 16px 0;
}

.seed {
    letter-spacing: 5px;
    font-size: 150%;
}

.pageTransition {
    opacity: 1;
    &-enter {
        animation-name: fade-in;
        animation-duration: 0.3s;
        animation-fill-mode: both;
        animation-timing-function: ease;
        z-index: 2;
    }

    &-exit {
        animation-name: fade-out;
        animation-duration: 0.3s;
        animation-fill-mode: both;
        animation-timing-function: ease;
        z-index: 1;
    }
}
