.dashboard {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: row;
    padding: 20px;

    > div {
        display: flex;
        flex-direction: column;
        &:first-child {
            width: 40%;
            min-width: 420px;

            @media (max-width: 900px) {
                width: 100%;
            }
        }
        &:last-of-type {
            flex: 1 1 auto;
        }
    }

    section {
        background: var(--body-altBg);
        margin: 0 20px 20px 0;
        padding: 20px;
        border-radius: 4px;
        position: relative;
        z-index: 2;
        flex: 1 1 auto;

        @media (max-width: 900px) {
            margin: 20px;
        }

        &.balance {
            flex: 0;
            flex-basis: 230px;
            &.open {
                flex-basis: 510px;
            }

            input,
            textarea {
                background: var(--body-bg);
            }

            form > fieldset {
                margin-top: -20px;
            }
        }

        &.history {
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
            margin-bottom: 0px;
            @media (max-width: 900px) {
                margin: 0 20px 20px 20px;
            }
        }

        &.market {
            flex: 0;
            margin-right: 0px;
            padding-bottom: 12px;
            @media (max-width: 900px) {
                margin: 20px;
            }
        }
    }

    hr {
        background: var(--body-alt);
        border: none;
        height: 2px;
        margin-bottom: 20px;
        width: 100%;
    }
}

.balance {
    transition: flex-basis 0.275s cubic-bezier(0, 0, 0.2, 1);
    overflow: hidden;
    h1,
    h2 {
        font-size: 48px;
        line-height: 48px;
        font-weight: 300px;
        text-align: center;
        margin: 22px 0 10px;
    }
    h2 {
        font-size: 21px;
        line-height: 21px;
        margin: 0 0 24px;
    }
    nav {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        padding: 0 50px;
        height: 62px;
        display: flex;
        justify-content: space-between;
    }
    > span {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        transform: scale(0.75);
        opacity: 0;
        transition: opacity 0.3s cubic-bezier(0, 0, 0.2, 1), transform 0.3s cubic-bezier(0, 0, 0.2, 1);
        span {
            cursor: pointer;
        }
        &:hover {
            color: var(--primary);
        }
    }
    > div {
        transform: scale(0.95);
        opacity: 0;
        transition: opacity 0.2s cubic-bezier(0, 0, 0.2, 1), transform 0.3s cubic-bezier(0, 0, 0.2, 1);
    }
    &.open {
        > span {
            transform: scale(1);
            opacity: 1;
        }
        nav {
            display: none;
        }
        > div {
            transform: scale(1);
            opacity: 1;
        }
    }
}
