@keyframes slideRight {
    from {
        transform: translate(100%, 0);
    }
    to {
        transform: translate(0, 0);
    }
}
@keyframes slideLeft {
    from {
        transform: translate(-100%, 0);
    }
    to {
        transform: translate(0, 0);
    }
}

.dashboard {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 20px;
    overflow: hidden;

    &.windows {
        padding-top: 50px;
    }

    > div {
        width: 100%;

        &:nth-child(1) {
            flex: 0 0 185px;
            margin-bottom: 20px;
            z-index: 3;

            @media screen and (max-width: 860px) {
                height: 230px;
                transition: height 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);

                &.balanceOpen {
                    height: 540px;
                }
            }
        }

        &:nth-child(2) {
            flex: 1;
            display: flex;
            z-index: 2;

            @media screen and (max-width: 860px) {
                display: block;
            }

            section {
                width: calc(50% - 10px);
                height: 100%;
                overflow: hidden;
                background: var(--box-bg);

                @media screen and (max-width: 860px) {
                    width: 100%;
                    height: calc(50% - 10px);
                    margin-bottom: 20px;
                    transition: height 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
                }

                &:first-child {
                    margin-right: 20px;
                }
            }

            &.history {
                @media screen and (max-width: 860px) {
                    section {
                        &:first-child {
                            height: 100%;
                        }
                        &:last-child {
                            opacity: 0;
                        }
                    }
                }
            }
        }
    }

    section {
        position: relative;
        border-radius: 6px;
    }
}

.balance {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 3;
    background: none;

    @media screen and (max-width: 860px) {
        background: var(--box-bg);
        overflow: hidden;
    }

    > div:first-child {
        @media screen and (max-width: 860px) {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 160px;
            opacity: 1;
            padding-top: 20px;
            position: relative;
            z-index: 2;
            background: var(--box-bg);
        }
    }

    > div:nth-child(2),
    > div:nth-child(3) {
        position: absolute;
        background: var(--box-bg);
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
    }

    > div:nth-child(2) {
        transition: opacity 420ms ease-out, transform 420ms ease-out;
        &.openMid {
            opacity: 0.2;
            transform: scale(0.92);
        }
    }

    > div:nth-child(3) {
        pointer-events: none;
        z-index: 3;
        &.openRight,
        &.openLeft {
            transition: none;
            animation: slideRight 420ms cubic-bezier(0.4, 0, 0.2, 1);
            pointer-events: all;
            @media screen and (max-width: 860px) {
                animation: slideRight 220ms ease-in;
            }
        }
        &.openLeft {
            animation: slideLeft 420ms cubic-bezier(0.4, 0, 0.2, 1);

            @media screen and (max-width: 860px) {
                animation: slideLeft 220ms ease-in;
            }
        }
        &.close {
            transition: all 200ms ease-out;
            transform: scale(0.9);
            opacity: 0;
            pointer-events: none;
        }
    }

    > div:nth-child(2) {
        display: flex;

        @media screen and (max-width: 860px) {
            padding-bottom: 64px;
            > div {
                display: none;
            }
        }

        a {
            flex: 0 0 185px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background: var(--box-alt);

            @media screen and (min-width: 861px) {
                > div {
                    display: block;
                    position: relative;
                    margin: 28px auto;
                    width: 64px;
                    height: 64px;
                    padding: 18px;
                    text-align: center;
                    line-height: 38px;
                    &:before,
                    &:after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: calc(100% + 12px);
                        height: calc(100% + 12px);
                        border: 1px solid var(--body-alt);
                        border-radius: 100%;
                        transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
                        z-index: 2;
                    }
                    &:after {
                        width: 100%;
                        height: 100%;
                        background: var(--box-bg);
                        border: none;
                        transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
                        z-index: 1;
                    }
                    span {
                        position: relative;
                        z-index: 3;
                    }
                }
            }

            &:hover {
                > div {
                    &:before {
                        transform: translate(-50%, -50%) scale(1.15);
                        border-color: var(--body);
                    }
                    &:after {
                        transform: translate(-50%, -50%) scale(0.9);
                    }
                }
            }

            @media screen and (max-width: 860px) {
                position: absolute;
                width: calc(50% - 1px);
                height: 64px;
                bottom: 0px;
                border-radius: 0 0 0 6px;
                flex-direction: row;
                font-size: 14px;

                p {
                    margin-bottom: 4px;
                }

                span {
                    margin: 0 20px 0 0;
                    font-size: 26px !important;
                }

                &:last-child {
                    left: calc(50% + 1px);
                    border-radius: 0 0 6px 0;
                }
            }
        }

        > div {
            flex: 1;
            text-align: center;
        }
    }

    @media screen and (max-width: 860px) {
        > div:nth-child(3) {
            height: calc(100% - 160px);
            top: 160px;
        }
    }
}
