.header {
    background: var(--bar-bg);
    display: flex;
    > div:first-child {
        align-items: center;
        display: flex;
        flex: 1 1 var(--sidebar-width);
        justify-content: center;
        min-width: var(--sidebar-width);
    }
}

.accounts {
    flex: 1 1 calc(100% - var(--sidebar-width));
    display: flex;
    ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        width: calc(100% - var(--sidebar-width));
        height: 100%;
    }

    li {
        align-items: center;
        border-bottom: 1px solid transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 16px;
        min-width: 90px;
        text-align: center;
        position: relative;
        border-top: 3px solid transparent;
        &:after {
            content: '';
            position: absolute;
            bottom: -1px;
            width: 100%;
            border-top: 3px solid transparent;
        }
        &.active:after {
            border-bottom: 2px solid var(--highlight);
        }
    }

    h1,
    h2 {
        margin: 0;
        font-size: var(--font-size-medium);
        text-align: left;
        font-weight: 400;
    }
    h1 {
        margin-bottom: 4px;
    }
    h2 {
        font-size: var(--font-size-small);
        font-weight: 200;
    }
}
