.wallet {
    > aside,
    > section {
        transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    }

    &.slided {
        > aside,
        > section {
            transform: translate(-20px, 0);
        }

        @media (max-width: 900px) {
            > aside,
            > section {
                transform: none;
            }
        }
    }

    > section {
        display: flex;
        flex: 1;
        position: relative;
        > section {
            flex: 0 0 50%;
            padding: 20px;
            margin: 30px 0 0;
        }

        @media (max-width: 900px) {
            > div > div {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0px;
                transition: left 0.2s cubic-bezier(0.4, 0, 0.2, 1);
                &:last-of-type {
                    left: 100%;
                }
            }
        }

        &.slided {
            @media (max-width: 900px) {
                > div > div {
                    &:first-of-type {
                        left: 100%;
                    }
                    &:last-of-type {
                        left: 0;
                    }
                }
            }
        }
    }

    > aside {
        display: flex;
        flex-direction: column;
        background: var(--bar-bg);
        flex: 0 0 var(--sidebar-width);
        height: 100vh;
        -webkit-app-region: drag;

        > div {
            flex: 0 0 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            span {
                color: var(--bar);
            }
        }

        nav {
            flex-grow: 1;
            &:first-of-type {
                span {
                    display: none;
                }
            }
            &:last-of-type {
                flex-grow: 0;
                padding-bottom: 30px;
            }

            a {
                display: block;
                color: var(--bar);
                font-size: 14px;
                border-right: 2px solid transparent;
                text-decoration: none;
                line-height: 60px;
                padding-left: 30px;
                text-transform: capitalize;
                white-space: nowrap;
                max-width: 200px;
                overflow: hidden;

                &:hover {
                    background: var(--bar-alt);
                }
                &[aria-current='true'],
                &.active {
                    background: var(--bar-alt);
                    border-right: 2px solid var(--primary);
                }

                span {
                    display: block;
                    float: left;
                    margin: 18px 14px 0 0;
                }
                strong {
                    font-weight: 300;
                }
                small {
                    display: block;
                    margin-right: 12px;
                    opacity: 0.72;
                    text-transform: none;
                }
            }

            ul {
                margin: 0px;
                padding: 0px;

                a {
                    line-height: 21px;
                    padding: 14px 0 14px 30px;
                }
            }

            > div {
                transition: opacity 0.6s ease;
                &.disabled {
                    pointer-events: none;
                    opacity: 0.4;
                }
            }
        }

        @media (max-width: 900px) {
            flex: 0 0 var(--sidebar-width-narrow);
            transition: width 0.2s cubic-bezier(0.4, 0, 0.2, 1);

            nav {
                &:first-of-type {
                    position: relative;
                    span {
                        display: inline-block;
                    }
                }
                > div > ul {
                    display: none;
                }

                > a,
                > div > a {
                    padding-left: 0px;
                    text-align: center;
                    width: 100%;
                    height: 60px;
                    span {
                        font-size: 24px !important;
                        width: 100%;
                        text-align: center;
                    }
                    strong {
                        display: none;
                    }
                }

                > div {
                    &:hover {
                        > a {
                            background: var(--bar-alt);
                        }
                        ul {
                            display: inline-block;
                            position: absolute;
                            top: 0px;
                            left: 100%;
                            width: 200px;
                            z-index: 3;
                            a {
                                background: var(--bar-bg);
                                border-right: 2px solid transparent;
                                &:hover {
                                    background: var(--bar-alt);
                                }
                            }
                        }
                    }
                }
            }
            > div {
                text-align: center;
                flex: 0 0 100px;
                margin-bottom: 100px;
                > div {
                    width: 38px !important;
                    height: 38px !important;
                }
                span {
                    font-size: 38px !important;
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
}

.sending {
    opacity: 0.4;
    transition: opacity 1s ease-out;
    pointer-events: none;
}

.units {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 3;
    * {
        cursor: pointer;
    }
    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: var(--body-altBg);
        opacity: 0.8;
    }
    > div {
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: var(--bar-bg);
        padding: 10px 20px;
        border-radius: 4px;
        width: 90%;
        max-width: 360px;

        h3 {
            text-align: center;
            font-size: 16px;
            font-weight: 300;

            span {
                display: block;
                margin-bottom: 10px;
            }
        }

        dl {
            display: flex;
            width: 100%;
            margin: 0px;
            padding: 0px;
            dt,
            dd {
                flex: 0 1 10%;
                white-space: nowrap;
                margin: 0px;
                text-align: left;
                width: 20%;
                line-height: 36px;
                color: var(--bar);
            }
            dd {
                flex: 0 1 40%;
                padding: 0 12px;
                &:first-of-type {
                    border-left: 1px solid var(--bar);
                    border-right: 1px solid var(--bar);
                }
                &:last-of-type {
                    flex: 0 1 50%;
                    text-align: right;
                }
            }
        }
    }
}
