.receive {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0 0 0;

    p {
        display: flex;
        width: 100%;

        span {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: 100%;
            letter-spacing: 1px;
            font-family: monospace;
            font-size: 14px;
            line-height: 26px;
            padding-left: 20px;
        }
    }

    canvas {
        display: block;
        background: #fff;
        border-radius: 4px;
        border: 5px solid white;
    }
}

.empty {
    p,
    canvas,
    fieldset {
        opacity: 0.3;
        pointer-events: none;
    }
}
