.send {
    display: flex;
    height: 100%;
    max-width: 1400px;

    @media screen and (max-width: 860px) {
        display: block;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            width: calc(100% - 40px);
            height: 2px;
            top: -10px;
            left: 20px;
            background: var(--body-alt);
        }
    }

    > div:nth-child(1) {
        flex: 0 0 250px;

        @media screen and (max-width: 860px) {
            display: none;
        }
    }

    > div:nth-child(2) {
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        flex: 1;

        @media screen and (max-width: 860px) {
            display: block;
        }

        > div,
        > footer {
            width: 50%;
            padding-left: 30px;
            padding-bottom: 15px;
            max-width: none;

            @media screen and (max-width: 860px) {
                width: 100%;
                padding-left: 0px;
                max-width: 560px;
            }

            input {
                border: none;
                line-height: 40px;
                padding-left: 10px;
                font-size: 14px;
            }
        }

        > footer {
            display: flex;
            justify-content: center;
            padding-top: 24px;
            margin: 0 auto;

            button,
            a {
                width: calc(50% - 5%);
                &:first-child {
                    margin-right: 10%;
                }
            }
            > div {
                width: 100%;
            }
        }
    }

    .sending {
        > div,
        footer a {
            opacity: 0.4;
            transition: opacity 1s ease-out;
            pointer-events: none;
        }
    }
}

.address {
    display: inline-block;
    font-family: 'SourceCodePro';
    letter-spacing: 2px;
    max-width: 390px;
    word-break: break-word;
    font-size: 18px;
    line-height: 28px;
}

.units {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 3;
    * {
        cursor: pointer;
    }
    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: var(--box-bg);
        opacity: 0.8;
    }
    > div {
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: var(--bar-bg);
        padding: 10px 20px;
        border-radius: 4px;
        width: 90%;
        max-width: 360px;

        h3 {
            text-align: center;
            font-size: 16px;

            span {
                display: block;
                margin-bottom: 10px;
            }
        }

        dl {
            display: flex;
            width: 100%;
            margin: 0px;
            padding: 0px;
            dt,
            dd {
                flex: 0 1 10%;
                white-space: nowrap;
                margin: 0px;
                text-align: left;
                width: 20%;
                line-height: 36px;
                color: var(--bar);
            }
            dd {
                flex: 0 1 40%;
                padding: 0 12px;
                &:first-of-type {
                    border-left: 1px solid var(--bar);
                    border-right: 1px solid var(--bar);
                }
                &:last-of-type {
                    flex: 0 1 50%;
                    text-align: right;
                }
            }
        }
    }
}
