.main {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-between;
}
.options-wrapper {
    flex: 5;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-around;
}
.options-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
