:root {
    --font-size-xl: 26px;
    --font-size-l: 21px;
    --font-size-m: 14px;
    --font-size-s: 12px;
    --font-size-xs: 11px;

    --header-height: 100px;
    --footer-height: 120px;
    --sidebar-width: 180px;
    --sidebar-width-narrow: 70px;
}

* {
    user-select: none;
    cursor: default;
    &,
    &:before,
    &:after {
        box-sizing: border-box;
    }
}
a,
a * {
    cursor: pointer;
}
input,
textarea {
    cursor: text;
}

@font-face {
    font-family: 'Lato';
    src: url(custom-fonts/Lato-Light.ttf) format('truetype');
    font-weight: 200;
}
@font-face {
    font-family: 'Lato';
    src: url(custom-fonts/Lato-Regular.ttf) format('truetype');
    font-weight: 300;
}
@font-face {
    font-family: 'Lato';
    src: url(custom-fonts/Lato-Bold.ttf) format('truetype');
    font-weight: 700;
}
@font-face {
    font-family: 'SourceCode';
    src: url(custom-fonts/SourceCodePro-Medium.ttf) format('truetype');
    font-weight: 300;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: var(--body-bg);
}

body {
    color: var(--body);
    font-family: 'Lato';
    font-weight: 200;
    font-size: var(--font-size-m);
    line-height: 1.5;
    overflow: hidden;
}

h1,
h2,
p {
    font-weight: 200;
    line-height: 1.6em;
    margin: 0 0 1em;
    max-width: 560px;
}
h1 {
    font-size: var(--font-size-xl);
}
h2 {
    font-size: var(--font-size-l);
    margin-bottom: 30px;
}

p {
    font-size: var(--font-size-m);
}

strong {
    font-weight: 700;
}

form {
    margin-bottom: 30px;

    > fieldset {
        display: block;
        width: 100%;
        margin: 50px auto;
        padding: 0px;
        border: none;
        text-align: center;
        a,
        button {
            margin: 10px 20px;
        }
    }

    div + fieldset {
        margin-top: 0px;
    }
}

label {
    color: var(--label);
    font-size: var(--font-size-small);
    display: block;
    margin-bottom: 8px;
    text-align: left;
}

:global {
    .fade-enter {
        opacity: 0;
        transform: scale(0.95);
        z-index: 10;
    }

    .fade-enter.fade-enter-active {
        opacity: 1;
        transform: scale(1);
        transition: opacity 300ms ease-in, transform 200ms ease-out;
    }

    .slide-enter {
        section {
            opacity: 0;
            transform: translate(50%, 0);
        }
        footer {
            opacity: 0;
        }
    }

    .slide-enter.slide-enter-active {
        section {
            opacity: 1;
            transform: translate(0, 0);
            transition: opacity 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035), transform 1s cubic-bezier(0.19, 1, 0.22, 1);
        }
        footer {
            opacity: 1;
            transition: opacity 0.2s cubic-bezier(0.19, 1, 0.22, 1);
        }
    }

    .slide-exit {
        section {
            opacity: 1;
            transform: translate(0, 0);
            z-index: 10;
        }
        footer {
            opacity: 1;
        }
    }

    .slide-exit.slide-exit-active {
        section {
            opacity: 0;
            transform: scale(0.9);
            transition: opacity 0.3s ease-in, transform 1s cubic-bezier(0.23, 1, 0.32, 1);
        }
        footer {
            opacity: 0;
            transition: opacity 0.2s cubic-bezier(0.19, 1, 0.22, 1);
        }
    }
}

main {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: var(--body-bg);

    > form {
        margin: 0px;
    }
    > div:first-child {
        position: relative;
        z-index: 10;
    }
}

.trinity {
    overflow: hidden;
}
