:root {
    --font-size-xl: 26px;
    --font-size-l: 21px;
    --font-size-m: 14px;
    --font-size-s: 12px;
    --font-size-xs: 11px;

    --header-height: 100px;
    --footer-height: 120px;
    --sidebar-width: 180px;
    --sidebar-width-narrow: 70px;
}

* {
    user-select: none;
    cursor: default;
    &,
    &:before,
    &:after {
        box-sizing: border-box;
    }
}
a,
a * {
    cursor: pointer;
}
input,
textarea {
    cursor: text;
}

@font-face {
    font-family: 'Lato';
    src: url(custom-fonts/Lato-Light.ttf) format('truetype');
    font-weight: 200;
}
@font-face {
    font-family: 'Lato';
    src: url(custom-fonts/Lato-Regular.ttf) format('truetype');
    font-weight: 300;
}
@font-face {
    font-family: 'Lato';
    src: url(custom-fonts/Lato-Bold.ttf) format('truetype');
    font-weight: 700;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: var(--body-bg);
}

body {
    color: var(--body);
    font-family: 'Lato';
    font-weight: 200;
    font-size: var(--font-size-m);
    line-height: 1.5;
    overflow: hidden;
}

h1,
h2,
p {
    font-weight: 200;
    line-height: 1.6em;
    margin: 0 0 1em;
    max-width: 560px;
}
h1 {
    font-size: var(--font-size-xl);
}
h2 {
    font-size: var(--font-size-l);
}

p {
    font-size: var(--font-size-m);
}

strong {
    font-weight: 700;
}

form {
    > fieldset {
        display: block;
        width: 100%;
        margin: 0 auto 50px;
        padding: 0px;
        border: none;
    }
}

label {
    color: var(--label);
    font-size: var(--font-size-small);
    display: block;
    margin-bottom: 8px;
    text-align: left;
}

:global {
    .fade-enter {
        opacity: 0;
        transform: scale(0.95);
        z-index: 10;
    }

    .fade-enter.fade-enter-active {
        opacity: 1;
        transform: scale(1);
        transition: opacity 300ms ease-in, transform 200ms ease-out;
    }
}

main {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.trinity {
    overflow: hidden;
}
