@import "style/reset";
@import "style/typography";
@import "style/animations";

html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body {
    color: var(--body);
}

main {
    display: flex;
    width: 100vw;
    height: 100vh;
}