body {
    background: var(--body-bg);
}

.styleguide {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: var(--body-bg);
    overflow: scroll;
    overflow-x: hidden;

    aside {
        width: 240px;
        margin-right: 40px;
        flex-shrink: 0;
        background: var(--bar-bg);
        color: var(--bar);
        text-align: center;
        padding-top: 40px;
        position: fixed;

        h1 {
            font-weight: 200;
            font-size: 14px;
            margin-bottom: 40px;
        }

        > a span {
            color: var(--bar);
        }

        nav {
            width: 100%;
            text-align: left;

            a {
                display: block;
                color: var(--bar);
                width: 100%;
                text-decoration: none;
                padding: 8px 16px;
                &:hover {
                    background: var(--bar-alt);
                }
                &[aria-current='true'] {
                    background: var(--bar-alt);
                    border-right: 3px solid var(--primary);
                }
            }
        }

        hr {
            background: none;
            border: none;
            border-top: 1px solid var(--bar-alt);
            margin-bottom: 20px;
        }

        select {
            background: none;
            border: none;
            color: var(--bar);
        }
        fieldset a:after {
            border-top-color: var(--bar);
        }

        > div > div {
            padding-bottom: 0px;
        }
    }
    aside,
    section {
        min-height: 100vh;
    }

    section {
        padding: 60px 40px;
        width: calc(100vw - 240px);
        min-width: 480px;
        margin-left: 240px;

        hr {
            border: none;
            border-top: 2px solid var(--body-alt);
            margin: 40px 0;
        }
        form {
            padding: 40px 0;
        }
    }
}

.intro {
    height: 100vh;
    position: relative;

    &:before,
    &:after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0px;
        left: 0px;
        background: var(--wave-file) repeat-x;
        background-size: auto 227px;
        background-position: left bottom;
        opacity: 0.15;
        transition: background-position 3s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    &:after {
        opacity: 0.25;
        background-position: 50% bottom;
    }
}