.styleguide {
    display: flex;
    width: 100vw;

    aside {
        width: 240px;
        margin-right: 40px;
        flex-shrink: 0;
        background: var(--bar-bg);
        text-align: center;

        h1 {
            font-weight: 200;
            font-size: 14px;
            margin-bottom: 40px;
        }
        nav {
            width: 100%;
            text-align: left;

            a {
                display: block;
                margin-bottom: 20px;
                color: var(--bar);
                text-decoration: none;
                &:hover,
                &[aria-current='true'] {
                    color: var(--highlight);
                }
            }
        }

        hr {
            background: none;
            border: none;
            border-top: 1px solid var(--color-bgSecondary);
        }

        select {
            background: none;
        }
    }
    aside,
    section {
        padding: 20px;
        min-height: 100vh;
    }

    section {
        padding-top: 140px;
        max-width: 960px;
        min-width: 480px;

        hr {
            border: none;
            border-top: 1px dashed var(--color-bgSecondary);
            margin: 30px 0;
        }
    }
}
