.wrapper {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1002;
    pointer-events: none;

    > div {
        @media print {
            display: none;
        }

        display: block;
        position: relative;
        margin: 20px;
        padding: 12px 32px 1px 16px;
        min-width: 340px;
        width: 320px;
        background: var(--body-bg);
        max-width: calc(100% - 32px);
        min-height: 120px;
        transform: translate(30%, 0);
        border-left: 6px solid;
        opacity: 0;
        pointer-events: none;

        h2 {
            margin: 0;
            margin-bottom: 16px;
        }

        p {
            font-size: 16px;
            line-height: 24px;
        }

        span {
            cursor: pointer;
            position: absolute;
            top: 0px;
            right: 0px;
            padding: 12px;
        }

        &.visible {
            opacity: 1;
            pointer-events: all;
            transform: translate(0, 0);
            transition: opacity 0.12s ease-in, transform 0.24s cubic-bezier(0.23, 1, 0.32, 1);
        }

        &.info {
            background: var(--positive);
            color: var(--positive-body);
            border-color: var(--positive-hover);
            span:hover {
                color: var(--positive-hover);
            }
        }

        &.error {
            background: var(--negative);
            color: var(--negative-body);
            border-color: var(--negative-hover);
            span:hover {
                color: var(--negative-hover);
            }
        }

        &.success {
            background: var(--positive);
            color: var(--positive-body);
            border-color: var(--positive-hover);
            span:hover {
                color: var(--positive-hover);
            }
        }
    }
}
