@keyframes logo-spin {
    from {
        transform: rotate(0deg) scale(1);
    }
    to {
        transform: rotate(1800deg) scale(0.75);
    }
}

@keyframes slide-in-left-20 {
    from {
        transform: translate3d(20px, 0px, 0px);
    }
    to {
        transform: translate3d(0px, 0px, 0px);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.standard-animation {
    animation-duration: 0.3s;
    animation-fill-mode: both;
    animation-timing-function: ease;
}

.slide-in-left {
    composes: standard-animation;
    animation-timing-function: cubic-bezier(0.1, 0.9, 0.2, 1);
    animation-name: slide-in-left-20;
}

.fade-in {
    composes: standard-animation;
    animation-name: fade-out;
}

.fade-out {
    composes: standard-animation;
    animation-name: fade-out;
}

.logo-spin {
    composes: standard-animation;
    animation-iteration-count: infinite;
    animation-duration: 2.5s;
    animation-direction: alternate;
    /*animation-timing-function: ease-in-out;*/
    animation-timing-function: cubic-bezier(1, 0, 0.15, 1);
    animation-name: logo-spin;
}
