.theming {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 300px;
    height: 100vh;
    background: var(--bar-bg);
    padding: 20px;
    overflow: scroll;
    overflow-x: hidden;
    z-index: 99;

    > div {
        line-height: 21px;
        font-size: 12px;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px dashed var(--box-alt);
        width: 100%;

        div {
            display: block;
            height: 42px;
            margin: 0 0 4px;
        }
    }

    h6{
       font-size: 14px;
    }

    span{
       display: block;
       margin-bottom: 8px;
    }

    strong {
        font-weight: 300;
        flex: 0 0 220px;
        line-height: 21px;
    }

    input {
        // background: none;
        border: var(--input-border);
        background: var(--input-bg);
        color: var(--input);
        width: 50%;
        padding: 5px;
    }

    textarea {
        width: 100%;
        height: 400px;
        margin-bottom: 60px;
        background: var(--input-bg);
        color: var(--input);
        font-size: 11px;
        font-family: monospace;
        border: none;
        padding: 20px;
        border-radius: 4px;
        &:focus {
            outline: none;
        }
    }
}
