.titlebar {
    width: 100vw;
    height: 40px;
    position: fixed;
    top: 0px;
    left: 0px;
    -webkit-app-region: drag;
    z-index: 99999;
}

.windows {
    display: flex;
    width: 100%;
    height: 40px;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px;

    > a {
        margin-left: 40px;
        width: 21px;
        height: 21px;
        -webkit-app-region: no-drag;

        * {
            -webkit-app-region: no-drag;
        }

        &:first-child {
            margin: 0 auto 0 0;
        }

        svg {
            margin: 3px;
            path {
                fill: var(--body);
            }
        }
        &:hover svg path {
            fill: var(--primary);
        }
    }
}
