.chart {
    display: block;
    width: 100%;
    padding: 320px 0 12px;
    position: relative;
    color: var(--body);
    nav,
    ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    nav {
        margin-bottom: 21px;
        button,
        p {
            line-height: 24px;
            font-size: 24px;
            text-align: center;
            margin: -4px 0;

            strong {
                display: block;
                font-weight: 300;
                font-size: 16px;
                margin: 0 0 4px;
            }
        }
        button {
            display: block;
            height: 28px;
            line-height: 26px;
            font-size: 11px;
            min-width: 60px;
            background: none;
            border-radius: 24px;
            margin-top: -4px;
        }
    }
    ul {
        margin: 0px;
        padding: 0px;

        li {
            font-size: 14px;
            list-style: none;
            text-align: left;
            width: 33.33%;
            &:nth-child(2) {
                text-align: center;
            }
            &:nth-child(3) {
                text-align: right;
            }
        }
    }
    > div {
        position: absolute;
        top: 20px;
        left: 0px;
        width: 100%;
        height: 260px;
        margin-bottom: 20px;
        font-size: 11px;
        svg {
            overflow: visible;
        }
    }

    .label {
        background: var(--body-bg);
        color: var(--secondary);
        padding: 4px 6px;
        border-radius: 4px;
        font-size: 12px;
        font-weight: 300;
    }
}
