.chart {
    display: block;
    width: 100%;
    padding-top: 265px;
    position: relative;
    color: var(--body);
    nav,
    ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    nav {
        margin: 0 0 20px;
        button,
        p {
            line-height: 24px;
            font-size: 24px;
            text-align: center;
            margin: 0px;
        }
        button {
            display: block;
            height: 28px;
            line-height: 26px;
            font-size: 11px;
            min-width: 60px;
            background: none;
        }
    }
    ul {
        margin: 0px;
        padding: 0px;
        li {
            font-size: 14px;
            list-style: none;
        }
    }
    > div {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 240px;
        margin-bottom: 20px;
        font-size: 11px;
        svg {
            overflow: visible;
        }
    }

    .label {
        background: #fff;
        color: var(--secondary);
        padding: 4px 6px;
        border-radius: 4px;
        font-size: 12px;
        font-weight: 300;
    }
}
