.chart {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: relative;
    color: var(--body);

    svg {
        overflow: visible;
    }

    > div {
        position: absolute;
        top: 30px;
        left: 20px;
        width: calc(100% - 40px);
        height: calc(100% - 200px);
        font-size: 11px;

        @media screen and (max-width: 860px) {
            height: calc(100% - 100px);
        }

        > span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: var(--body-alt);
        }
    }

    footer {
        position: absolute;
        width: 100%;
        bottom: 0px;
        left: 0px;
        padding: 20px;

        nav,
        ul {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        @media screen and (max-width: 860px) {
            ul {
                display: none;
            }
        }

        li {
            font-size: 14px;
            list-style: none;
            text-align: left;
            width: 33.33%;
            line-height: 23px;

            &:nth-child(2) {
                text-align: center;
            }
            &:nth-child(3) {
                text-align: right;
            }

            strong {
                display: block;
                color: var(--body-alt);
                font-weight: 300;
            }
        }

        nav {
            margin-bottom: 20px;
            padding-top: 20px;
            position: relative;

            @media screen and (max-width: 860px) {
                margin-bottom: 0px;
                &:before {
                    display: none;
                }
            }

            &:before {
                content: '';
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 2px;
                background: var(--body);
                opacity: 0.1;
            }
            p {
                line-height: 34px;
                font-size: 24px;
                text-align: center;
                margin: -4px 0;
            }
            button {
                display: block;
                height: 28px;
                line-height: 26px;
                font-size: 11px;
                min-width: 60px;
                background: none;
                border-radius: 24px;
            }
        }
    }

    .label {
        background: var(--body-bg);
        color: var(--secondary);
        padding: 4px 6px;
        border-radius: 4px;
        font-size: 12px;
    }
}
