.chart {
    width: 100%;
    overflow: hidden;
    margin-top: -50px;
    nav,
    ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    nav {
        border-top: 1px solid var(--body-alt);
        margin: -45px 0 20px;
        padding: 20px 0 0;
        button,
        p {
            margin: 0px;
        }
        p {
            line-height: 28px;
            font-size: 21px;
            text-align: center;
        }
        button {
            display: block;
            height: 28px;
            line-height: 26px;
            font-size: 11px;
            min-width: 60px;
        }
    }
    ul {
        margin: 0px;
        padding: 0px;
        li {
            font-size: var(--font-size-small);
            list-style: none;
        }
    }
    > div {
        width: calc(100% + 55px);
        height: 360px;
    }
}
