.wrapper {
    display: inline-block;
    margin: 0 0 20px;
    padding: 0 0 0 38px;
    text-align: left;
    position: relative;
    width: 100%;
    text-align: left;
    max-width: 640px;

    > p {
        text-align: left;
        font-size: 16px;
        line-height: 24px;
        font-weight: 300;
    }
    > span {
        position: absolute;
        top: 0px;
        left: 0px;
        color: var(--body);
    }
}
