.nav {
    display: flex;
    padding: 0 0 28px 10px;
    margin: 0px;
    a {
        color: var(--secondary);
        font-weight: 300;
        margin: 0 22px 0 0;

        &.empty {
            color: var(--body-alt);
        }
        &.disabled {
            color: var(--body-alt);
            pointer-events: none;
        }
        small {
            font-size: 14px;
            font-weight: 200;
            margin: 0 2px;
        }
    }
    ul {
        margin: 0px;
        padding: 0px;
        position: absolute;
        top: 8px;
        left: 2px;
        z-index: 2;
        a {
            display: none;
            background: var(--body-altBg);
            line-height: 28px;
            padding: 10px 20px 0px;
            span {
                display: block;
                float: right;
                margin: 8px 0 0 6px;
                color: var(--secondary);
            }
            &:first-child {
                display: block;
            }
        }
        &:hover {
            a {
                display: block;
                &:hover {
                    color: var(--primary);
                }
            }
        }
    }
}

.list {
    position: absolute;
    top: 80px;
    left: 0px;
    width: 100%;
    height: calc(100% - 80px);
    padding: 0 0 20px 20px;

    a {
        list-style: none;

        strong {
            font-weight: 200;
        }

        > div {
            list-style: none;
            display: flex;
            line-height: 38px;
            cursor: pointer;
            width: 100%;
            padding: 0 20px;
            > span {
                width: 50%;
                padding: 0 2%;
            }
            > span:nth-child(1) {
                width: 36px;
                margin-top: 10px;
            }
            > span:nth-child(2) {
                text-align: left;
            }
            > strong:nth-child(3) {
                width: 20%;
                text-align: left;
            }
            > span:nth-child(4) {
                width: 30%;
                text-align: right;
            }
        }
        &:hover > div {
            background: var(--body-bg);
        }
        &.received {
            span:nth-child(4) {
                color: var(--primary);
            }
        }
        &.sent {
            span:nth-child(4) {
                color: var(--secondary);
            }
        }
        &.pending {
            span:nth-child(4),
            strong {
                color: var(--negative);
            }
        }
    }

    .empty {
        display: block;
        position: absolute;
        top: 50%;
        left: 0px;
        text-align: center;
        width: 100%;
        opacity: 0.5;
        padding: 0;
        margin: -20px 0 0;
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.refresh {
    display: block;
    position: absolute;
    top: 18px;
    right: -4px;
    margin: 0px;
    height: 26px;
    width: 26px;
    text-align: center;

    &:hover {
        color: var(--primary);
    }

    &.busy {
        pointer-events: none;
        color: var(--body-alt);
    }

    &.loading {
        pointer-events: none;
        animation: spin 0.8s ease infinite;
    }
}

.popup {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: var(--body-altBg);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.15s ease-out;
    cursor: pointer;
    z-index: 3;
    > div {
        position: absolute;
        top: 50%;
        left: 20px;
        width: calc(100% - 40px);
        min-height: 100px;
        transform: translate(0, -50%) scale(0.9);
        background: var(--body-bg);
        padding: 20px;
        border-radius: 4px;
        transition: transform 0.2s cubic-bezier(0, 0, 0.2, 1);
        p {
            &:first-child {
                display: flex;
                justify-content: space-between;
            }

            &:last-child {
                display: block;
                margin-top: 26px;
                word-break: break-word;
                height: 100px;
                position: relative;
                strong {
                    display: block;
                    margin-bottom: 4px;
                    font-size: 12px;
                    padding-top:0px;
                }
            }

            strong {
                font-weight: 300;
                padding-top: 21px;
            }

            small {
                font-size: 12px;
                text-align: right;
            }

            em {
                display: block;
                font-style: normal;
                color: var(--body);
            }

            &.hash {
                display: block;
                font-family: monospace;
                word-break: break-word;
            }
        }

        h6 {
            font-size: 12px;
            margin-bottom: 0px;
        }

        .received {
            p:first-child strong {
                color: var(--primary);
            }
        }
        .sent {
            p:first-child strong {
                color: var(--secondary);
            }
        }
        .pending {
            p:first-child small {
                color: var(--negative);
            }
        }
        .confirmed {
            p:first-child small {
                color: var(--positive);
            }
        }
    }
    &.on {
        opacity: 1;
        pointer-events: all;
        > div {
            transform: translate(0, -50%) scale(1);
        }
    }
}
