.nav {
    display: flex;
    padding: 0 0 10px 10px;
    a {
        color: var(--secondary);
        font-weight: 300;
        margin: 0 28px 0 0;
        &.active {
            color: var(--primary);
        }
        &.empty {
            color: var(--body-hover);
        }
        &.disabled {
            color: var(--body-hover);
            pointer-events: none;
        }
    }
}

.list {
    position: absolute;
    top: 80px;
    left: 0px;
    width: 100%;
    height: calc(100% - 80px);
    padding: 0 20px;
    overflow: scroll;

    a {
        list-style: none;

        strong {
            font-weight: 300;
        }

        > div {
            list-style: none;
            display: flex;
            line-height: 38px;
            cursor: pointer;
            width: 100%;
            > span {
                width: 50%;
                padding: 0 2%;
            }
            > span:nth-child(1) {
                width: 36px;
                margin-top: 10px;
            }
            > span:nth-child(2) {
                text-align: left;
            }
            > strong:nth-child(3) {
                width: 20%;
                text-align: left;
            }
            > span:nth-child(4) {
                width: 30%;
                text-align: right;
            }
        }
        &:hover > div {
            background: var(--body-bg);
        }
        &.received {
            > strong {
                color: var(--primary);
            }
        }
        &.sent {
            strong {
                color: var(--secondary);
            }
        }
        &.confirmed {
            span:nth-child(4) {
                color: var(--positive);
            }
        }
        &.pending {
            span:nth-child(4) {
                color: var(--negative);
            }
        }
    }

    .empty {
        display: block;
        position: absolute;
        top: 50%;
        left: 0px;
        text-align: center;
        width: 100%;
        opacity: 0.5;
        padding: 0;
        margin: -20px 0 0;
    }

    .pending {
        strong {
            color: var(--negative);
        }
    }
}

.history-item {
    margin: 0 auto;
    width: 560px;
    padding: 35px;
    border-radius: 8px;
    font-size: var(--font-size-small);

    @media (max-width: 810px) {
        width: 100%;
        padding: 35px 0px;
    }

    header {
        display: flex;
        justify-content: space-between;
        &.received {
            color: var(--color-extra);
        }
        &.sent {
            color: var(--color-highlight);
        }
        p,
        small {
            font-size: var(--font-size-default);
        }
        small {
            color: var(--color-body);
        }
    }
    p {
        overflow-wrap: break-word;
        margin: 0px;
    }
    h6 {
        font-size: var(--font-size-small);
        margin: 20px 0 0 0;
    }
    ul {
        padding: 0px;
        max-height: 200px;
        overflow: scroll;
        overflow-x: hidden;
        width: calc(100% + 50px);
        padding-right: 50px;
        li {
            display: flex;
            list-style: none;
            width: 100%;
            padding: 0 0 12px;
            p {
                width: 90%;
            }
            strong {
                flex: 1 0;
                width: 100px;
                text-align: right;
            }
        }
    }
    footer {
        padding-top: 20px;
        text-align: center;
    }
}

.scroll {
    max-height: 200px;
    overflow: hidden;
}
