.list {
    margin: 0px;
    padding: 0px;
    overflow: scroll;
    max-height: calc(100vh - var(--header-height) - 40px);

    &.compact {
        border-top: 1px solid var(--body-alt);
        padding: 10px 0;
    }

    a {
        list-style: none;

        > div {
            list-style: none;
            display: flex;
            line-height: 38px;
            cursor: pointer;
            width: 100%;
            > span {
                width: 50%;
                padding: 0 2%;
            }
            > span:nth-child(1) {
                width: 24px;
                line-height: 38px;
            }
            > span:nth-child(2) {
                text-align: left;
            }
            > strong:nth-child(3) {
                width: 20%;
                text-align: left;
            }
            > span:nth-child(4) {
                width: 30%;
                text-align: right;
            }
        }
        &:hover > div {
            background: var(--body-hover);
        }
    }

    .received {
        strong {
            color: var(--extra);
        }
    }

    .sent {
        strong {
            color: var(--highlight);
        }
    }

    .empty {
        display: block;
        text-align: center;
        width: 100%;
        opacity: 0.65;
        padding: 30px 0;
    }

    .pending {
        strong {
            color: var(--negative);
        }
    }

    .full {
        display: block;
        margin-bottom: 12px;
        padding: 12px;
        border-radius: 4px;
        border: 1px solid var(--body-alt);

        &:hover {
            background: var(--body-hover);
        }

        p {
            margin: 0px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            line-height: 24px;
            font-size: var(--font-size-small);
            &:nth-child(2) {
                color: var(--color-body);
            }
        }
    }

    strong {
        font-weight: 200;
    }
}

.history-item {
    margin: 0 auto;
    width: 560px;
    padding: 35px;
    border-radius: 8px;
    font-size: var(--font-size-small);
    header {
        display: flex;
        justify-content: space-between;
        &.received {
            color: var(--color-extra);
        }
        &.sent {
            color: var(--color-highlight);
        }
        p,
        small {
            font-size: var(--font-size-default);
        }
        small {
            color: var(--color-body);
        }
    }
    p {
        overflow-wrap: break-word;
        margin: 0px;
    }
    h6 {
        font-size: var(--font-size-small);
        margin: 20px 0 0 0;
    }
    ul {
        padding: 0px;
        max-height: 200px;
        overflow: scroll;
        overflow-x: hidden;
        width: calc(100% + 50px);
        padding-right: 50px;
        li {
            display: flex;
            list-style: none;
            width: 100%;
            padding: 0 0 12px;
            p {
                width: 90%;
            }
            strong {
                flex: 1 0;
                width: 100px;
                text-align: right;
            }
        }
    }
    footer {
        padding-top: 20px;
        text-align: center;
    }
}

.scroll {
    max-height: 200px;
    overflow: hidden;
}
