.loading {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    align-items: center;
    justify-content: center;
    background: var(--body-bg);
    -webkit-app-region: drag;

    &.inline {
        position: relative;
    }

    > div {
        text-align: center;
    }
    h1 {
        margin: 45px 0 12px;
        font-size: 24px;
        font-weight: 300;
        color: var(--body);
    }
    h2 {
        font-size: 16px;
        font-weight: 300;
        color: var(--body);
    }
}
