.progress {
    p {
        line-height: 14px;
        margin-bottom: 8px;
    }
    > div {
        position: relative;
        display: inline-block;
        margin: 0 auto;
        min-width: 140px;
        height: 14px;
        border: 2px solid var(--primary);
        border-radius: 8px;
        > div {
            display: block;
            height: 100%;
            background: var(--primary);
            transition: width 2s cubic-bezier(0.55, 0, 0.1, 1);
        }
    }
}
