.toggle {
    display: block;
    margin: 12px 0 24px 34px;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    cursor: pointer;
    span {
        text-transform: capitalize;
        width: 100px;
        cursor: pointer;
        color: var(--body);
        &:first-child {
            padding-right: 70px;
            position: relative;
            color: var(--primary);
            &:after {
                content: '';
                width: 50px;
                height: 20px;
                position: absolute;
                top: 0px;
                right: 10px;
                border-radius: 15px;
                border: 1px solid var(--body);
            }
            &:before {
                content: '';
                width: 16px;
                height: 16px;
                position: absolute;
                top: 2px;
                right: 42px;
                border-radius: 9px;
                border: 1px solid var(--primary);
                background: var(--primary);
                transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
            }
        }
    }
    &.on {
        span {
            color: var(--primary);
            &:first-child {
                color: var(--body);
                &:before {
                    right: 12px;
                }
            }
        }
    }
}
