.colors {
    > div {
        display: flex;
        line-height: 21px;
        font-size: 14px;
        min-width: 600px;

        div {
            display: block;
            height: 42px;
            margin: 0 21px 20px 0;
            flex: 0 0 42px;
        }
    }

    strong {
        font-weight: 300;
        flex: 0 0 120px;
        line-height: 42px;
    }

    span {
        padding-top: 10px;
    }

    em {
        display: block;
    }
}

.body-color {
    background: var(--body);
}
.body-bg {
    background: var(--body-bg);
}
.body-alt {
    background: var(--body-alt);
}
.body-alt-bg {
    background: var(--body-altBg);
}

.bar-color {
    background: var(--bar);
}
.bar-bg {
    background: var(--bar-bg);
}
.bar-alt {
    background: var(--bar-alt);
}

.primary-color {
    background: var(--primary);
}
.primary-hover {
    background: var(--primary-hover);
}
.primary-body {
    background: var(--primary-body);
}

.secondary-color {
    background: var(--secondary);
}
.secondary-hover {
    background: var(--secondary-hover);
}
.secondary-body {
    background: var(--secondary-body);
}

.extra-color {
    background: var(--extra);
}
.extra-hover {
    background: var(--extra-hover);
}
.extra-body {
    background: var(--extra-body);
}

.positive-color {
    background: var(--positive);
}
.positive-hover {
    background: var(--positive-hover);
}
.positive-body {
    background: var(--positive-body);
}

.negative-color {
    background: var(--negative);
}
.negative-hover {
    background: var(--negative-hover);
}
.negative-body {
    background: var(--negative-body);
}

.input-color {
    background: var(--input);
}
.input-bg {
    background: var(--input-bg);
}
.input-alt {
    background: var(--input-alt);
}

.label-color {
    background: var(--label);
}
.label-hover {
    background: var(--label-hover);
}

.chart-color {
    background: var(--chart);
}
