.color {
    display: inline-block;
    margin: 0 48px 48px 0;
    > strong {
        display: block;
        width: 180px;
        height: 60px;
        line-height: 60px;
        padding: 0 20px;
        font-weight: 200;
    }
}

.positive {
    background: var(--positive-bg);
}

.negative {
    background: var(--negative-bg);
}

.highlight {
    background: var(--highlight-bg);
}

.extra {
    background: var(--extra-bg);
}

.bar {
    background: var(--bar-bg);
}

.bgSecondary {
    background: var(--body-secondary);
}

.input {
    background: var(--input-bg);
}

.hover {
    box-shadow: inset 0 0 0 30px var(--hover-bg);
}
