.color {
    display: inline-block;
    margin: 0 48px 48px 0;
    > strong {
        display: block;
        font-size: var(--font-size-s);
        width: 130px;
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        font-weight: 200;
    }
}

.primary {
    background: var(--primary);
    color: var(--primary-body);
    &.hover {
        background: var(--primary-hover);
    }
}

.secondary {
    color: var(--secondary-body);
    background: var(--secondary-bg);
    &.hover {
        background: var(--secondary-hover);
    }
}

.positive {
    color: var(--positive-body);
    background: var(--positive-bg);
    &.hover {
        background: var(--positive-hover);
    }
}

.negative {
    color: var(--negative-body);
    background: var(--negative-bg);
    &.hover {
        background: var(--negative-hover);
    }
}

.highlight {
    color: var(--highlight-body);
    background: var(--highlight-bg);
    &.hover {
        background: var(--highlight-hover);
    }
}

.extra {
    background: var(--extra-body);
    background: var(--extra-bg);
    &.hover {
        background: var(--extra-hover);
    }
}

.bar {
    background: var(--bar-bg);
    color: var(--bar);
}

.chart {
    background: var(--chart);
}

.bgSecondary {
    background: var(--body-secondary);
}

.input {
    background: var(--input-bg);
}
.label {
    color: var(--label);
}
.inputSecondary {
    color: var(--input-secondary);
    background: var(--input-bg);
}
