.modify {
    > button {
        margin-right: 20px;
    }

    textarea {
        width: 100%;
        height: 400px;
        margin-bottom: 60px;
        background: var(--input-bg);
        color: var(--input);
        font-size: 11px;
        font-family: monospace;
        border: none;
        padding: 20px;
        border-radius: 4px;
        &:focus {
            outline: none;
        }
    }
}

.columns {
    display: flex;
    ul {
        margin: 0 100px 0 0;
        padding: 0;
    }
}

.preview {
    list-style: none;
    width: 100%;
    > div {
        display: flex;
        width: 100%;
        span {
            margin-top: 24px;
        }
    }
    span {
        display: block;
        flex-shrink: 0;
        width: 38px;
        height: 38px;
        margin-right: 24px;
    }
}
