$header: 110px;
$footer: 70px;

.agreement {
    display: flex;
    
    a {
        color: var(--primary);
        text-decoration: underline;
    }
}

.main {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    > div:first-of-type > div {
        position: absolute;
        top: $header;
        left: 0px;
        height: calc(100% - #{$header});
        width: 100%;
        z-index: 2;

        > form {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            padding: 0 30px 230px;

            section {
                width: calc(100vw - 60px);
                max-width: 640px;
                text-align: center;

                > a {
                    text-decoration: underline;
                }

                &.wide {
                    max-width: none;
                }

                &.long {
                    padding-top: 10px;
                }

                > div {
                    text-align: center;

                    p:first-child {
                        margin-bottom: 50px;
                        font-size: 28px;
                        margin-bottom: 20px;
                    }

                    p:last-child {
                        padding-top: 20px;
                    }
                }
            }
        }
    }

    footer,
    footer > div {
        position: absolute;
        bottom: 0px;
        height: $footer;
        width: 100%;
        display: flex;
        align-items: stretch;
        overflow: hidden;
        * {
            flex: 1;
        }
    }

    footer {
        > div {
            bottom: -$footer;
            transition: bottom 0.6s cubic-bezier(0.4, 0, 1, 1);
        }
        &.choiceDefault > div:nth-child(1) {
            bottom: 0px;
            transition: bottom 0.6s cubic-bezier(0, 0, 0.2, 1);
            z-index: 2;
        }
    }
}
