@font-face {
    font-family: 'SourceSansPro';
    src: url('~custom-fonts/SourceSansPro-Light.ttf') format('truetype');
    font-weight: 200;
}
@font-face {
    font-family: 'SourceSansPro';
    src: url('~custom-fonts/SourceSansPro-Regular.ttf') format('truetype');
    font-weight: 300;
}
@font-face {
    font-family: 'SourceSansPro';
    src: url('~custom-fonts/SourceSansPro-SemiBold.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'SourceCodePro';
    src: url('~custom-fonts/SourceCodePro-Medium.ttf') format('truetype');
    font-weight: 300;
}

body,
input,
button {
    font-family: 'SourceSansPro';
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-size: 32px;
    font-weight: 200;
    margin-bottom: 26px;
}

p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
}

strong {
    font-weight: 400;
}
