.wrapper {
    display: block;
    margin: 30px auto 0;
    height: calc(100vh - 350px);
    width: calc(100vh - 350px);
    max-width: 450px;
    max-height: 450px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.3);

    &.disabled {
        pointer-events: none;
    }

    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

.letter {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 0px;
    border-left: 0px;
    color: white;
    display: block;
    float: left;
    width: 11.111%;
    height: 11.111%;
    position: relative;
    transition: 0.3s all ease;
    vertical-align: middle;

    span {
        position: absolute;
        left: 50%;
        top: 50%;
        line-height: 0;
        pointer-events: none;
        transform: translateX(-50%) translateY(-50%);
    }

    &:hover {
        cursor: pointer;
        background: rgba(255, 255, 255, 0.05);
    }

    &:active,
    &:focus {
        background: rgba(255, 255, 255, 0.1);
    }

    &:focus {
        outline: 0;
    }

    &:nth-child(9n + 1) {
        clear: left;
    }

    &.updated_1 {
        background: rgba(255, 255, 255, 0.05);
    }

    &.updated_2 {
        background: rgba(255, 255, 255, 0.1);
    }

    &.updated_3 {
        background: rgba(255, 255, 255, 0.15);
    }

    &.updated_4 {
        background: rgba(255, 255, 255, 0.2);
    }

    &.updated_5 {
        background: rgba(255, 255, 255, 0.25);
    }

    &.updated_alot {
        background: rgba(255, 255, 255, 0.3);
    }
}
