.nav {
    a {
        display: flex;
        color: #fff;
        line-height: 16px;
        text-decoration: none;
        margin-bottom: 16px;
        cursor: pointer;
        &:hover,
        &[aria-current='true'] {
            color: var(--color-highlight);
        }
    }
    img {
        height: 16px;
        width: 16px;
        margin-right: 12px;
    }

    hr {
        border: none;
        margin: 20px 0;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
    }
}

.public {
    display: flex;
    width: 100%;
}

.public + button {
    margin-left: 40px;
}
