.balance {
    > div {
        text-align: center;
        margin-bottom: 30px;

        h1 {
            font-size: var(--font-size-title);
            font-weight: 200;
            text-transform: uppercase;
            line-height: var(--font-size-title);
            margin-bottom: 20px;
        }

        > strong {
            font-size: 42px;
            display: block;
            line-height: 42px;
            margin-bottom: 8px;
        }

        small {
            font-size: var(--font-size-default);
        }
    }
}

.flex {
    height: 100%;
    display: flex;
    align-items: center;
}
