.receive {
    text-align: center;

    .address {
        display: block;
        padding: 20px;
        border: 1px solid rgba(255, 255, 255, 0.6);
        word-wrap: break-word;
        border-radius: 4px;
        width: 100%;
    }

    canvas {
        display: block;
        margin: 0 auto 30px;
        background: #fff;
        border-radius: 4px;
        padding: 20px;
    }
}
