.ammount-input {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 512px;
    margin: 0 auto 50px;
    position: relative;
    > div {
        display: block;
        position: relative;
        width: calc(100% - 70px);
    }
    input[type='text'] {
        font-family: 'Lato';
        font-weight: 200;
        font-size: var(--font-size-default);
        line-height: 26px;
        width: 100%;
        border: none;
        background: none;
        color: #fff;
        padding: 4px 0;
        font-size: 18px;
        resize: none;
        &:focus {
            outline: none;
        }
    }
    button {
        padding: 0 8px;
        height: 32px;
        min-width: 0px;
        font-size: 11px;
        margin: 1px 0 0;
        line-height: 18px;
        img {
            width: 14px;
            vertical-align: middle;
            margin: -2px 4px 0 0;
        }
    }
    small {
        position: absolute;
        bottom: 1px;
        left: 0px;
        display: block;
        width: 100%;
        text-align: left;
        &:before,
        &:after {
            position: absolute;
            content: '';
            width: 100%;
            height: 1px;
            background: white;
            top: 0px;
            left: 0px;
        }
        &:after {
            max-width: 0px;
            background: var(--color-yellow);
            transition: all 0.2s ease-out;
        }
    }
    input[type='number'] :focus + small:after {
        max-width: 100%;
    }

    button:last-of-type {
        position: absolute;
        bottom: -34px;
        left: 0px;
        height: 26px;
    }
}
