.input {
    display: block;
    width: 100%;
    max-width: 512px;
    margin: 0 auto 50px;
    text-align: right;
    fieldset {
        padding: 0px;
        margin: 0px;
        border: none;
        position: relative;
        text-align: left;
        input,
        textarea {
            font-family: 'Lato';
            font-weight: 200;
            font-size: var(--font-size-default);
            line-height: 26px;
            width: 100%;
            border: 1px solid var(--color-border);
            background: var(--color-input);
            color: var(--color-body);
            padding: 6px 12px;
            resize: none;
            border-radius: 4px;
            &:focus {
                outline: none;
            }
        }
        small {
            position: absolute;
            white-space: nowrap;
            left: 0px;
            top: -18px;
            font-size: 10px;
            text-transform: uppercase;
            transition: color 0.2s ease-out;
        }
        input:focus + small,
        textarea:focus + small {
            color: var(--color-highlight);
        }
        a {
            display: flex;
            position: absolute;
            align-items: center;
            justify-content: center;
            position: absolute;
            height: 100%;
            min-width: 35px;
            top: 0px;
            right: 0px;
            cursor: pointer;
            user-select: none;
            &:before {
                content: '';
                position: absolute;
                width: 2px;
                height: 22px;
                top: 50%;
                left: -2px;
                border-radius: 4px;
                background: var(--color-body);
                opacity: 0.3;
                transform: translate(0, -50%);
            }
            > img {
                width: 16px;
                opacity: 0.5;
            }
            > span {
                opacity: 0.5;
                font-size: 11px;
                > img {
                    width: 7px;
                    margin-left: 4px;
                }
            }
            &:hover {
                > img,
                > span {
                    opacity: 1;
                }
            }
        }
        a + input {
            padding-right: 40px;
        }
    }
}

.info {
    display: block;
    float: right;
    font-size: 11px;
    color: var(--color-body);
    line-height: 14px;
    padding: 4px 8px 2px;
    border-radius: 0 0 4px 4px;
    position: relative;
    background: var(--color-input);
    margin: -1px 38px 0 0;
    border: 1px solid var(--color-border);
    border-top: none;
}

.checkbox {
    display: block;
    float: right;
    margin: 12px 0 0 auto;
    font-size: 11px;
    line-height: 14px;
    padding: 0 21px 2px 0;
    position: relative;
    cursor: pointer;
    opacity: 0.4;
    &:after {
        content: '';
        width: 14px;
        height: 14px;
        position: absolute;
        top: 0px;
        right: 1px;
        background: rgba(255, 255, 255, 0.6);
        border-radius: 14px;
    }
    &:hover {
        opacity: 1;
    }
    &.on:after {
        background: var(--color-positiveBorder);
    }
}

.strike {
    &:after {
        content: '';
        position: absolute;
        width: 2px;
        height: 16px;
        border-radius: 2px;
        background: #8fa1a5;
        transform: rotate(45deg);
    }
    &:hover:after {
        background: #fff;
    }
}

.qrScanner {
    display: block;
    margin: 0 auto;
    width: 320px;
    text-align: center;
    video {
        transform: rotateY(180deg);
        max-width: 100%;
        margin-bottom: 50px;
        border: 2px solid #fff;
    }
    > section {
        margin-bottom: 40px;
    }
}
