.input {
    display: block;
    width: 100%;
    max-width: 512px;
    margin: 0 auto 50px;
    text-align: right;
    fieldset {
        padding: 0px;
        margin: 0px;
        border: none;
        position: relative;
        text-align: left;
        input,
        textarea,
        select {
            font-family: 'Lato';
            font-weight: 200;
            font-size: var(--font-size-default);
            line-height: 26px;
            width: 100%;
            border: 1px solid var(--input-border);
            background: var(--input-bg);
            color: var(--input);
            padding: 6px 12px;
            resize: none;
            -webkit-appearance: none;
            border-radius: 4px;
            &:focus {
                outline: none;
            }
        }
        select {
            position: relative;
            &:after {
                content: '';
                display: block;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 6px 4px 0 4px;
                border-color: var(--body) transparent transparent transparent;
                position: absolute;
                right: 12px;
                top: calc(50% - 2px);
                opacity: 0.6;
                pointer-event: none;
            }
        }
        small {
            position: absolute;
            white-space: nowrap;
            left: 0px;
            top: -20px;
            font-size: var(--font-size-xs);
            text-transform: uppercase;
            transition: color 0.2s ease-out;
        }
        input:focus + small,
        textarea:focus + small,
        select:focus + small {
            color: var(--highlight);
        }
        a {
            display: flex;
            position: absolute;
            align-items: center;
            justify-content: center;
            position: absolute;
            height: 100%;
            min-width: 35px;
            top: 0px;
            right: 0px;
            cursor: pointer;
            user-select: none;
            color: var(--input-secondary);
            opacity: 0.5;
            &:before {
                content: '';
                position: absolute;
                width: 2px;
                height: 22px;
                top: 50%;
                left: -2px;
                border-radius: 4px;
                background: var(--input-secondary);
                transform: translate(0, -50%);
            }
            > img {
                width: 16px;
            }
            > span {
                font-size: 11px;
                > img {
                    width: 7px;
                    margin-left: 4px;
                }
            }
            &:hover {
                opacity: 1;
                &:before {
                    opacity: 0.5;
                }
            }
        }
        a + input {
            padding-right: 40px;
        }
    }
}

.info {
    display: block;
    float: right;
    font-size: 11px;
    color: var(--body);
    line-height: 14px;
    padding: 4px 8px 2px;
    border-radius: 0 0 4px 4px;
    position: relative;
    background: var(--input-bg);
    margin: -1px 38px 0 0;
    border: 1px solid var(--input-border);
    border-top: none;
}

.checkbox {
    display: block;
    float: right;
    margin: 12px 0 0 auto;
    font-size: 11px;
    line-height: 14px;
    padding: 0 21px 2px 0;
    position: relative;
    cursor: pointer;
    opacity: 0.4;
    &:after {
        content: '';
        width: 14px;
        height: 14px;
        position: absolute;
        top: 0px;
        right: 1px;
        background: var(--body-secondary);
        border: 1px solid var(--input-border);
        border-radius: 14px;
    }
    &:hover {
        opacity: 1;
    }
    &.on:after {
        background: var(--positive);
    }
}

.strike {
    &:after {
        content: '';
        position: absolute;
        width: 1px;
        height: 16px;
        border-radius: 2px;
        background: var(--input-secondary);
        transform: rotate(45deg);
    }
}

.down {
    position: relative;
    opacity: 1;
    z-index: 2;
    pointer-events: none;
    &:before {
        display: none;
    }
    &:after {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 4px 0 4px;
        border-color: var(--input-secondary) transparent transparent transparent;
        position: absolute;
        right: 12px;
        top: calc(50% - 2px);
        opacity: 0.6;
    }
    &:hover:after {
        opacity: 1;
    }
}

.qrScanner {
    display: block;
    margin: 0 auto;
    width: 320px;
    text-align: center;
    video {
        transform: rotateY(180deg);
        max-width: 100%;
        margin-bottom: 50px;
        border: 2px solid #fff;
    }
    > section {
        margin-bottom: 40px;
    }
}
