.addresses {
    p {
        font-family: 'SourceCodePro';
        font-size: 12px;
        word-break: break-word;

        mark {
            color: var(--primary);
        }
    }

    li {
        display: flex;
        strong {
            flex: 1 0 65px;
            text-align: right;
        }
    }

    .spent {
        text-decoration: line-through;
        color: var(--negative);

        mark {
            color: var(--negative);
        }
    }
}
