.settings {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    header {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        max-width: 680px;
        height: var(--header-height);
        a:hover {
            color: var(--primary);
        }
    }

    > div {
        display: flex;
        justify-content: center;
        max-width: 680px;
        width: 100%;
    }

    section:first-of-type {
        flex: 0 0 180px;
        padding: var(--header-height) 0 20px;
    }

    section:last-of-type {
        flex: 1;
        padding: 0 20px;
    }

    nav {
        margin-bottom: 30px;
        max-width: 200px;
        a {
            display: flex;
            color: var(--body);
            line-height: 20px;
            font-size: var(--font-size-m);
            text-decoration: none;
            font-weight: 200;
            margin-bottom: 16px;
            cursor: pointer;
            &:hover,
            &[aria-current='true'] {
                color: var(--highlight);
            }

            > span {
                margin-right: 20px;
            }
        }
        img {
            height: 16px;
            width: 16px;
            margin-right: 12px;
        }

        hr {
            border: none;
            margin: 20px 0;
            border-top: 1px solid var(--body-alt);
        }
    }

    @media (max-width: 720px) {
      >div{
         max-width: none;
      }

      section:first-of-type {
         flex: 0 0 var(--sidebar-width-narrow);
         height: 100vh;
         background: var(--bar-bg);
      }
      nav{
         a {
            text-align: center;
            width: 100%;
            height: 60px;
            margin: 0px;
            border-right: 2px solid transparent;
            span {
               font-size: 24px !important;
               width: 100%;
               text-align: center;
               line-height: 60px;
               margin: 0px;
            }
            strong {
               display: none;
            }
            &:hover{
               background: var(--bar-alt);
            }
            &[aria-current='true'] {
               background: var(--bar-alt);
               border-right: 2px solid var(--highlight);
           }
         }
      }

    }
}

.mockup {
    pointer-events: none;
    padding: 20px 20px 10px;
    margin: 0 0 30px;
    border-radius: 4px;
    border: 1px solid var(--body-alt);
    text-align: center;

    button {
        margin: 10px;
    }

    p {
        margin-bottom: 30px;
    }
}
