.settings {
    justify-content: flex-start;

    a {
        display: block;
        font-size: 18px;
        line-height: 56px;
        padding: 0 20px;
        color: var(--bar-body);

        &[aria-current='true'] {
            background: var(--bar-hover);
        }
    }

    aside {
        flex: 0 0 280px;
        background: var(--bar-bg);
        padding: 60px 0;

        @media print {
            display: none;
        }

        nav {
            padding: 0px 20px 20px 40px;
            background: var(--bar-hover);
            margin-bottom: 20px;
            a {
                display: flex;
                color: var(--body);
                font-size: 14px;
                line-height: 18px;
                text-decoration: none;
                cursor: pointer;
                padding: 8px 0;
                &:hover,
                &[aria-current='page'] {
                    color: var(--secondary);
                }

                > span {
                    margin: 2px 14px 0 0;
                }
            }

            hr {
                margin: 12px 0;
                border: none;
            }
        }
    }

    header {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        height: 60px;
        padding: 0 40px;
        a:hover {
            color: var(--primary);
        }
        @media print {
            display: none;
        }
    }

    section {
        flex: 1;
        padding-top: 60px;

        @media print {
            p,
            fieldset {
                display: none;
            }
        }

        fieldset button {
            margin: 0 20px 20px 0;
        }
    }

    h3 {
        font-size: 21px;
        margin-bottom: 21px;
        text-align: left;
    }

    p {
        font-size: 14px;
        margin-bottom: 32px;
    }

    p + p {
        margin-top: -32px;
    }

    p + button {
        margin-top: -32px;
    }

    hr {
        border: none;
        margin: 32px 0;
        border-top: 1px solid var(--body-alt);
    }

    form {
        height: calc(100vh - 120px);
        position: relative;
        fieldset {
            max-width: 520px;
            margin: 0 auto;
        }

        footer {
            position: absolute;
            bottom: 0px;
            height: 70px;
            width: 100%;
            display: flex;
            align-items: stretch;
            overflow: hidden;
            * {
                flex: 1;
            }
        }
    }
}

.scroll {
    height: calc(100vh - 120px);
    max-width: 560px;
    margin: 0 auto;
    > div:last-child {
        padding: 0 40px 60px 0;
    }
}

.mockup {
    pointer-events: none;
    padding: 20px 20px 10px;
    margin: 0 auto 30px;
    border-radius: 4px;
    border: 1px solid var(--body-alt);
    text-align: center;

    button {
        margin: 10px 0;
        width: calc(50% - 10px);
    }

    p {
        margin-bottom: 30px;
    }

    div:last-of-type {
        display: flex;
        justify-content: space-between;

        button {
            min-width: 0px;
        }
    }
}
