$header: 60px;
$sidebar-narrow: 70px;

.settings {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    header {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        max-width: 680px;
        height: $header;
        a:hover {
            color: var(--primary);
        }
    }

    :global {
        .ps {
            margin-right: -10px;
        }
    }

    > div {
        display: flex;
        justify-content: center;
        max-width: 760px;
        width: 100%;
        height: 100%;
    }

    section:first-of-type {
        flex: 0 0 240px;
        padding: 120px 0 20px;
    }

    section:last-of-type {
        flex: 1;
        padding: 60px 20px 0;

        > div {
            height: calc(100vh - 120px);
            > div {
                padding-bottom: 60px;
            }
        }
    }

    nav {
        margin-bottom: 30px;
        max-width: 220px;
        a {
            display: flex;
            color: var(--body);
            line-height: 20px;
            text-decoration: none;
            margin-bottom: 16px;
            cursor: pointer;
            &:hover,
            &[aria-current='true'] {
                color: var(--secondary);
            }

            > span {
                margin-right: 20px;
            }
        }
    }

    hr {
        border: none;
        margin: 20px 0;
        border-top: 2px solid var(--body-alt);
    }

    h3 {
        font-size: 21px;
        margin-bottom: 21px;
        text-align: left;
    }

    @media (max-width: 720px) {
        > div {
            max-width: none;
        }

        section:first-of-type {
            flex: 0 0 $sidebar-narrow;
            height: 100vh;
            background: var(--bar-bg);
        }

        nav {
            a {
                text-align: center;
                color: var(--bar);
                width: 100%;
                height: 60px;
                margin: 0px;
                border-right: 2px solid transparent;
                span {
                    font-size: 24px !important;
                    width: 100%;
                    text-align: center;
                    line-height: 60px;
                    margin: 18px 0 0;
                }
                strong {
                    display: none;
                }
                &:hover {
                    color: var(--bar);
                    background: var(--bar-alt);
                }
                &[aria-current='true'] {
                    background: var(--bar-alt);
                    color: var(--bar);
                    border-right: 2px solid var(--primary);
                }
            }

            hr {
                border-top: 1px solid var(--bar-alt);
            }
        }
    }
}

.mockup {
    pointer-events: none;
    padding: 20px 20px 10px;
    margin: 0 0 30px;
    border-radius: 4px;
    border: 1px solid var(--body-alt);
    text-align: center;

    button {
        margin: 10px;
    }

    p {
        margin-bottom: 30px;
    }
}
