.settings {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    > header {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        max-width: 680px;
        height: var(--header-height);
        padding: 0 20px;

        a:hover {
            color: var(--primary);
        }
    }

    > div {
        display: flex;
        justify-content: center;
        max-width: 680px;
        width: 100%;
    }

    section:first-of-type {
        flex: 0 0 30%;
        padding: 0 20px;
    }

    section:last-of-type {
        flex: 0 0 70%;
        padding: 0 20px;
    }

    nav {
        margin-bottom: 30px;
        max-width: 200px;
        a {
            display: flex;
            color: var(--body);
            line-height: 20px;
            font-size: var(--font-size-m);
            text-decoration: none;
            font-weight: 200;
            margin-bottom: 16px;
            cursor: pointer;
            &:hover,
            &[aria-current='true'] {
                color: var(--highlight);
            }

            > span {
                margin-right: 20px;
            }
        }
        img {
            height: 16px;
            width: 16px;
            margin-right: 12px;
        }

        hr {
            border: none;
            margin: 20px 0;
            border-top: 1px solid var(--body-alt);
        }
    }
}

.mockup {
    pointer-events: none;
    padding: 20px 20px 10px;
    margin: 0 0 30px;
    border-radius: 4px;
    border: 1px solid var(--body-alt);
    text-align: center;

    button {
        margin: 10px;
    }

    p {
        margin-bottom: 30px;
    }
}
