{
    "presets": ["module:metro-react-native-babel-preset", "@babel/preset-env"],
    "plugins": [
        [
            "module-resolver",
            {
                "cwd": "babelrc",
                "root": [".", "src"],
                "extensions": [".ios.js", ".android.js", ".js", ".json"]
            }
        ],
        "jest-hoist"
    ]
}
