{
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "babel",
    "react",
    "react-native",
    "jsx-a11y"
  ],
  "rules": {
    "import/no-named-as-default": 1,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/forbid-prop-types": ["error", { "forbid": ["any"] }]
  }
}
