.addresses {
    position: relative;
    height: calc(100vh - 160px);
    margin: 0px;
    padding: 0;

    p {
        font-size: 14px;
        word-break: break-word;
    }

    li {
        display: flex;
        strong {
            flex: 1 0 40px;
            text-align: right;
        }
    }

    .spent {
        text-decoration: line-through;
        color: var(--negative);
    }
}
