{
    "presets": [
        ["es2015", {"modules": false}],
	"stage-0",
	"stage-1",
        "react"
    ],
    "plugins": [
        "transform-object-rest-spread",
        "transform-class-properties"
    ],
    "env": {
        "development": {
            "presets": ["react-hmre"]
        }
    }
}
