{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "chrome": 61
                },
                "include": ["transform-es2015-classes"]
            }
        ],
        "react"
    ],
    "plugins": ["transform-class-properties"],
    "env": {
        "development": {
            "presets": ["react-hmre"]
        }
    }
}
