.backdrop {
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 2048;
    &:before {
        content: '';
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0px;
        left: 0px;
        z-index: 1;
        background: var(--body-bg);
    }
    &.confirm {
        &:before {
            opacity: 0.95;
        }
        text-align: center;
        h1 {
            font-weight: 200;
            margin-bottom: 20px;
            max-width: none;
        }
        p {
            max-width: none;
        }
        :global {
            h1.error {
                color: var(--negative);
            }
            h1.success {
                color: var(--positive);
            }
        }
        strong {
            max-width: 40vw;
            word-wrap: break-word;
        }
        button {
            margin: 20px;
        }
    }
}

.wrapper {
    width: 80vw;
    max-width: 960px;
    position: relative;
    z-index: 2;

    form {
        margin-top: 60px;
        padding: 0px;
        border: none;
    }
}
