@import-normalize;

@custom-media --xs (min-width: 0px); /* default */
@custom-media --sm (max-width: 480px);
@custom-media --md (max-width: 768px);
@custom-media --lg (max-width: 1024px);
@custom-media --xl (max-width: 1440px);

:root {
    --color-text: white;
    --color-yellow: #f7d002;
    --color-blue: #8bd4ff;
    --color-red: #ff6c69;
    --color-green: #9dffaf;
    --color-darkgreen: green;
    --color-pale-darkgreen: #203c43;
    --color-primary: #04a997;

    --color-label: var(--color-yellow);
    --color-button-warning: var(--color-yellow);
    --color-button-danger: var(--color-red);
    --color-button-success: var(--color-green);
    --color-button-extra: var(--color-blue);
    --color-button-cta: var(--color-darkgreen);
    --color-button-default: white;

    --color-sidenav-text: #9eaaad;
    --color-sidenav-text-active: white;
    --color-sidenav-underline: transparent;
    --color-sidenav-underline-active: var(--color-primary);

    /*--font-size-default: 1.8vh;*/
    --font-size-medium: 14px;
    --font-size-small: 12px;
    --font-size-title: 20px;
    --font-size-default: var(--font-size-medium);

    --z-index-modal: 2048;
    --z-index-overlay: 1024;
    --z-index-dropdown: 512;
    --z-index-elevated: 1;
}

@media print {
    body {
        color: black !important;
        background: none !important;
    }

    :global(.printHidden) {
        display: none;
    }

    button {
        display: none;
    }
}

* {
    &,
    &:before,
    &:after {
        box-sizing: border-box;
    }
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-image: url(images/bg-blue.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    color: var(--color-text);
    font-family: arial;
    font-size: var(--font-size-default);
    line-height: 1.5;
}

h1 {
    font-size: var(--font-size-title);
}

label {
    color: var(--color-label);
    display: block;
    margin-bottom: 8px;
}

select {
    &:focus {
        outline: 0;
    }
    background: rgba(0, 0, 0, 0.2);
    border: 0;
    padding: 16px 4px;
    width: 100%;
    border-bottom: 2px solid white;
    color: white;
}

option {
    background: transparent;
    color: black;
    padding: 4px;
}

input {
    box-sizing: border-box;

    &:focus {
        outline: none;
    }

    &[type='text'],
    &[type='email'],
    &[type='tel'],
    &[type='password'] {
        background: rgba(0, 0, 0, 0.2);
        border: 0;
        border-bottom: 2px solid white;
        color: white;
        padding: 16px;
        width: 100%;
    }
}

textarea {
    background: rgba(0, 0, 0, 0.2);
    border: 0;
    border-bottom: 2px solid white;
    box-sizing: border-box;
    color: white;
    padding: 16px;
    width: 100%;
    &:focus {
        outline: none;
    }
}
