@import-normalize;

@custom-media --xs (min-width: 0px); /* default */
@custom-media --sm (max-width: 480px);
@custom-media --md (max-width: 768px);
@custom-media --lg (max-width: 1024px);
@custom-media --xl (max-width: 1440px);

:root {
    --color-text: white;
    --color-yellow: #f7d002;
    --color-blue: #8bd4ff;
    --color-red: #ff6c69;
    --color-green: #9dffaf;
    --color-darkgreen: green;

    --color-label: var(--color-yellow);
    --color-button-warning: var(--color-yellow);
    --color-button-warning-hover: rgba(247, 208, 2, 0.1);
    --color-button-danger: var(--color-red);
    --color-button-success: var(--color-green);
    --color-button-success-hover: rgba(157, 255, 175, 0.1);
    --color-button-extra: var(--color-blue);
    --color-button-extra-hover: rgba(139, 212, 255, 0.1);
    --color-button-cta: var(--color-darkgreen);
    --color-button-cta-hover: rgb(5, 107, 5);
    --color-button-default: white;
    --color-button-default-hover: rgba(255, 255, 255, 0.1);

    /*--font-size-default: 1.8vh;*/
    --font-size-default: 14px;
    --font-size-small: 12px;
    --font-size-large: 16px;
    --font-size-title: 20px;

    --z-index-modal: 2048;
    --z-index-overlay: 1024;
    --z-index-dropdown: 512;
    --z-index-elevated: 1;
}

* {
    &,
    &:before,
    &:after {
        box-sizing: border-box;
    }
}

@font-face {
    font-family: 'Lato';
    src: url(custom-fonts/Lato-Light.ttf) format('truetype');
    font-weight: 200;
}
@font-face {
    font-family: 'Lato';
    src: url(custom-fonts/Lato-Bold.ttf) format('truetype');
    font-weight: 700;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

body {
    background: #244148;
    color: var(--color-text);
    font-family: 'Lato';
    font-weight: 200;
    font-size: var(--font-size-default);
    line-height: 1.5;
}

h1 {
    font-size: var(--font-size-title);
}

label {
    color: var(--color-label);
    font-size: var(--font-size-small);
    display: block;
    margin-bottom: 8px;
}

strong {
    font-weight: 700;
}

:global {
    .columns {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        height: calc(100vh - 211px);
        max-width: 1200px;

        > aside,
        > section {
            flex: 1 0 auto;
            width: 50%;
            padding: 0 30px;
        }
        > aside nav button {
            display: block;
            min-width: 200px;
            max-width: 240px;
            width: 100%;
            margin: 20px auto 0;
        }
    }
}
