.wrapper {
    border-radius: 7px;
    padding: 10px 8px;
    user-select: none;
    pointer-events: none;
    max-width: 500px;
    margin: 0 auto;
    &:before {
        background-image: url(images/arrow-white.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        content: '';
        display: block;
        height: 20px;
    }

    &.color--black {
        border: 1px solid #000000;
        color: #000000;
    }
    &.color--black:before {
        background-image: url(images/arrow-black.png);
    }
}

.arrowRight {
    width: 100%;
}

.small .copyableSeed span {
    letter-spacing: 2px;
    font-size: 12px;
    padding: 2px;
    font-weight: 600;
}

.copyableSeed {
    margin-top: 10px;

    &:after {
        clear: both;
        display: block;
        content: '';
    }

    span {
        float: left;
        font-size: 18px;
        font-family: monospace;
        font-weight: 700;
        letter-spacing: 5px;
        width: 25%;
    }
}

.seedColumn {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.seedPartials {
    letter-spacing: 8px;
    font-weight: 600;
    font-size: 16px;
    padding: 4px;
}
