@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.button {
    position: relative;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    height: 42px;
    line-height: 40px;
    font-size: var(--font-size-s);
    letter-spacing: 0.2px;
    min-width: 140px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 200;
    padding: 0 24px 0;
    color: var(--color-Border);
    user-select: none;
    overflow: visible;
    transition: padding 0.2s cubic-bezier(0.55, 0, 0.1, 1);
    &:focus {
        outline: none;
    }
    &.small {
        padding: 0 16px;
        height: 32px;
        line-height: 32px;
        min-width: 30px;
        border-radius: 2px;
    }
    &:disabled,
    &.disabled {
        opacity: 0.5;
        pointer-events: none;
    }
    &:before {
        content: '';
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        left: 18px;
        width: 16px;
        height: 16px;
        margin: -8px 0 0 -8px;
        border-radius: 50%;
        border: 1px solid transparent;
        border-top-color: var(--color-Border);
        opacity: 0;
    }
    &:after {
        content: '';
        position: absolute;
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        border-radius: 3px;
        top: -1px;
        left: -1px;
        box-shadow: inset 0 0 0 30px var(--hover);
        opacity: 0;
    }
    &:hover:after {
        opacity: 0.8;
    }
    &:active:after {
        opacity: 1;
    }
}

footer .button + .button {
    margin-left: 20px;
}

.primary {
    composes: button;
    background: var(--positive-bg);
    border-color: var(--positive-border);
}

.secondary {
    composes: button;
    background: var(--secondary-bg);
    border-color: var(--secondary-border);
}

.warning {
    composes: button;
    background: var(--negative-bg);
    border-color: var(--negative-border);
}

.highlight {
    composes: button;
    background: var(--highlight-bg);
    border-color: var(--highlight-border);
}

.extra {
    composes: button;
    background: var(--extra-bg);
    border-color: var(--extra-border);
}

.outline {
    background: none;
    border: 1px solid;

    &.primary {
        color: var(--cta);
        border-color: var(--cta);
    }

    &.secondary {
        color: var(--secondary);
        border-color: var(--secondary);
    }
    &.warning {
        color: var(--negative);
        border-color: var(--negative);
    }
    &.extra {
        color: var(--extra);
        border-color: var(--extra);
    }
    &.highlight {
        color: var(--highlight);
        border-color: var(--highlight);
    }
}

.loading {
    pointer-events: none;
    padding: 0 12px 0 36px;
    box-shadow: inset 0 0 0 30px rgba(0, 0, 0, 0.1);
    &:before {
        transition: all 0.8s cubic-bezier(0.55, 0, 0.1, 1);
        opacity: 1;
        animation: spin 0.6s ease infinite;
    }
}
