@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.button {
    position: relative;
    border: none;
    border-radius: 4px;
    border-color: inherit inherit;
    cursor: pointer;
    display: inline-block;
    height: 42px;
    line-height: 40px;
    font-size: var(--font-size-default);
    letter-spacing: 0.2px;
    min-width: 140px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 200;
    padding: 1px 24px 0;
    color: var(--color-body);
    user-select: none;
    overflow: hidden;
    transition: padding 0.2s cubic-bezier(0.55, 0, 0.1, 1);
    &:focus {
        outline: none;
    }
    &:hover {
        box-shadow: inset 0 0 0 30px rgba(0, 0, 0, 0.1), 1px 2px 2px 1px rgba(0, 0, 0, 0.1);
    }
    &.small {
        padding: 0 16px 0 8px;
        height: 26px;
        font-size: var(--font-size-small);
        line-height: 26px;
        min-width: 30px;
        border-radius: 4px;
    }
    &:disabled {
        opacity: 0.5;
        pointer-events: none;
    }
    &:before {
        content: '';
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        left: 26px;
        width: 16px;
        height: 16px;
        margin: -8px 0 0 -8px;
        border-radius: 50%;
        border: 1px solid transparent;
        border-top-color: #fff;
        opacity: 0;
    }
}

footer .button + .button {
    margin-left: 20px;
}

.default,
.primary {
    composes: button;
    background: var(--color-valid);
}

.secondary {
    composes: button;
    background: rgba(0, 0, 0, 0.12);
    color: white;
}

.danger {
    composes: button;
    background: var(--color-error);
}

.success {
    composes: button;
    background: var(--color-valid);
}

.extra,
.info {
    composes: button;
    background: var(--color-extra);
}

.warning {
    composes: button;
    background: var(--color-warning);
}

.loading {
    pointer-events: none;
    padding-left: 48px;
    box-shadow: inset 0 0 0 30px rgba(0, 0, 0, 0.1), 1px 2px 2px 1px rgba(0, 0, 0, 0.1);
    &:before {
        transition: all 0.8s cubic-bezier(0.55, 0, 0.1, 1);
        opacity: 1;
        animation: spin 0.6s ease infinite;
    }
}
