.button {
    background: transparent;
    border: 1px solid;
    border-radius: 8px;
    border-color: inherit;
    cursor: pointer;
    display: inline-block;
    line-height: 1.15;
    margin: 4px;
    padding: 16px 32px;
    text-decoration: none;
    &:focus {
        outline: none;
    }
}

.default,
.primary {
    composes: button;
    color: var(--color-button-default);
}

.danger {
    composes: button;
    color: var(--color-button-danger);
}

.success {
    composes: button;
    color: var(--color-button-success);
}

.extra,
.info {
    composes: button;
    color: var(--color-button-extra);
}

.warning {
    composes: button;
    color: var(--color-button-warning);
}
