.history-list {
    margin: 0px;
    padding: 0px;

    &.inline {
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        padding: 20px 0;
    }

    li {
        list-style: none;
        > div {
            list-style: none;
            display: flex;
            line-height: 32px;
            cursor: pointer;
            width: 100%;
            > span {
                width: 50%;
                padding: 0 2%;
            }
            > span:nth-child(1) {
                text-align: left;
                &:before {
                    content: '';
                    display: inline-block;
                    vertical-align: middle;
                    background: url('images/send.png') center;
                    background-size: cover;
                    width: 12px;
                    height: 12px;
                    margin: -3px 10px 0 0;
                }
            }
            > strong:nth-child(2) {
                width: 20%;
                text-align: left;
            }
            > span:nth-child(3) {
                width: 30%;
                text-align: right;
            }
        }
    }

    .received {
        color: var(--color-extra);
        > span:nth-child(1):before {
            background: url('images/receive.png') center;
            background-size: cover;
        }
    }

    .sent {
        color: var(--color-highlight);
    }

    .empty {
        display: block;
        text-align: center;
        width: 100%;
        opacity: 0.65;
        padding: 30px 0;
    }

    .pending {
        strong {
            color: var(--color-error);
        }
    }

    .full {
        display: block;
        background: rgba(255, 255, 255, 0.02);
        border: 1px solid rgba(255, 255, 255, 0.1);
        margin-bottom: 12px;
        padding: 12px;
        border-radius: 4px;

        &:hover {
            background: rgba(255, 255, 255, 0.05);
        }

        p {
            margin: 0px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            line-height: 24px;
            font-size: var(--font-size-small);
            &:nth-child(2) {
                color: var(--color-body);
            }
        }
    }

    strong {
        font-weight: 200;
    }
}

.history-item {
    width: 560px;
    border: 2px solid #fff;
    padding: 35px;
    border-radius: 8px;
    font-size: var(--font-size-small);
    header {
        display: flex;
        justify-content: space-between;
        &.received {
            color: var(--color-extra);
        }
        &.sent {
            color: var(--color-highlight);
        }
        p,
        small {
            font-size: var(--font-size-default);
        }
        small {
            color: var(--color-body);
        }
    }
    p {
        overflow-wrap: break-word;
        margin: 0px;
    }
    h6 {
        font-size: var(--font-size-small);
        margin: 20px 0 0 0;
    }
    ul {
        padding: 0px;
        max-height: 200px;
        overflow: scroll;
        overflow-x: hidden;
        width: calc(100% + 50px);
        padding-right: 50px;
        li {
            display: flex;
            list-style: none;
            width: 100%;
            padding: 0 0 12px;
            p {
                width: 90%;
            }
            strong {
                flex: 1 0;
                width: 100px;
                text-align: right;
            }
        }
    }
    footer {
        padding-top: 20px;
        text-align: center;
    }
}

.scroll {
    max-height: 200px;
    overflow: hidden;
}
