.history-list {
    border-top: 1px solid rgba(255, 255, 255, 0.75);
    border-bottom: 1px solid rgba(255, 255, 255, 0.75);
    padding: 20px 0;

    li {
        list-style: none;
        display: flex;
        line-height: 32px;
        > span {
            width: 50%;
            padding: 0 4%;
        }
        > span:nth-child(1) {
            text-align: right;
            &:before {
                content: '';
                display: inline-block;
                vertical-align: middle;
                background: url('images/send.png') center;
                background-size: cover;
                width: 16px;
                height: 16px;
                margin: -3px 10px 0 0;
            }
        }
        > span:nth-child(2) {
            width: 20%;
        }
        > span:nth-child(3) {
            width: 30%;
        }
    }

    .received {
        color: var(--color-blue);
        > span:nth-child(1):before {
            background: url('images/receive.png') center;
            background-size: cover;
        }
    }
    .sent {
        color: var(--color-yellow);
    }

    .empty {
        display: block;
        text-align: center;
        width: 100%;
        opacity: 0.65;
        padding: 30px 0;
    }

    .pending {
        > span:nth-child(2) {
            color: #f75602;
        }
    }
}
