.wrapper {
    border: 1px dotted white;
    border-radius: 16px;
    font-size: var(--font-size-small);
    max-width: 512px;
    margin: 16px auto;
    padding: 16px;

    > :first-child {
        margin-top: 0;
    }

    > :last-child {
        margin-bottom: 0;
    }
}

.icon {
    background: url(images/info.png) no-repeat;
    background-size: contain;
    display: inline-block;
    width: 32px;
    height: 32px;
}
