.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    max-height: 100%;
    text-align: center;
}

.animation {
    composes: logo-spin from '../UI/Animations.css';
    display: inline-block;
}
