.backdrop {
    background: var(--color-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: var(--z-index-modal);
    &.confirm {
        text-align: center;
        h1 {
            font-weight: 200;
            margin-bottom: 20px;
        }
        :global {
            h1.error {
                color: var(--color-warning);
            }
            h1.success {
                color: var(--color-valid);
            }
        }
        strong {
            max-width: 40vw;
            word-wrap: break-word;
        }
        button {
            margin: 20px;
        }
    }
}

.wrapper {
    width: 80vw;
    max-width: 960px;
}

.wide {
    background-color: rgba(255, 255, 255, 0.1);
}
