.wrapper {
    position: fixed;
    right: 0;
    top: 0;
    z-index: var(--z-index-overlay);
}

.notification {
    composes: slide-in-left from './Animations.css';

    position: relative;
    margin: 8px;
    padding: 16px;
    width: 320px;
    max-width: calc(100% - 32px);

    h2 {
        margin: 0;
        margin-bottom: 4px;
    }

    span {
        cursor: pointer;
        position: absolute;
        top: 0px;
        right: 0px;
        font-size: 16px;
        line-height: 1;
        padding: 12px;
    }

    &--info {
        composes: notification;
        background-color: var(--color-extra);
        color: white;
    }

    &--error {
        composes: notification;
        background-color: var(--color-error);
        color: white;
    }

    &--success {
        composes: notification;
        background-color: var(--color-valid);
        color: white;
    }

    &--extra {
        composes: notification;
        background-color: var(--color-extra);
        color: white;
    }

    &--warning {
        composes: notification;
        background-color: var(--color-warning);
        color: black;
    }
}
