.wrapper {
    position: fixed;
    right: 0;
    top: 0;
    z-index: var(--z-index-overlay);
}

.notification {
    composes: slide-in-left from './Animations.css';

    position: relative;
    margin: 8px;
    padding: 8px 16px 16px;
    width: 320px;
    background-color: var(--color-bg);
    border: none;
    border-left: 4px solid transparent;
    max-width: calc(100% - 32px);

    h2 {
        margin: 0;
        margin-bottom: 4px;
    }

    span {
        cursor: pointer;
        position: absolute;
        top: 0px;
        right: 0px;
        font-size: 16px;
        line-height: 1;
        padding: 12px;
    }

    &--info {
        composes: notification;
        background: var(--color-positive);
        border-color: var(--color-positiveBorder);
        color: var(--color-body);
    }

    &--error {
        composes: notification;
        background: var(--color-negative);
        border-color: var(--color-negativeBorder);
        color: var(--color-body);
    }

    &--success {
        composes: notification;
        background: var(--color-positive);
        border-color: var(--color-positiveBorder);
        color: var(--color-body);
    }

    &--extra {
        composes: notification;
        background: var(--color-extra);
        border-color: var(--color-extraBorder);
        color: var(--color-body);
    }

    &--warning {
        composes: notification;
        background: var(--color-negative);
        border-color: var(--color-negativeBorder);
        color: var(--color-body);
    }
}
