.wrapper {
    display: block;
    position: relative;

    button {
        position: absolute;
        top: 12px;
        right: 12px;
    }

    button:before {
        content: 'SHOW';
    }

    .password {
        padding-right: 76px;
    }
}

.wrapper.isVisible {
    button:before {
        content: 'HIDE';
    }
}
