.select {
    width: 100%;
    select {
        font-family: 'Lato';
        font-weight: 200;
        font-size: var(--font-size-default);
        line-height: 26px;
        width: 100%;
        border: none;
        background: #2a4a51;
        color: #fff;
        padding: 6px 12px;
        resize: none;
        -webkit-appearance: none;
        -webkit-border-radius: 0px;
        border-radius: 4px;
        cursor: pointer;
        &:focus {
            outline: none;
        }
    }
    > div {
        position: relative;
        &:after {
            content: '';
            display: block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 6px 4px 0 4px;
            border-color: #fff transparent transparent transparent;
            position: absolute;
            right: 12px;
            top: calc(50% - 2px);
            opacity: 0.6;
            pointer-event: none;
        }
        &:hover:after {
            opacity: 1;
        }
    }
}
