.wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
    justify-content: center;
    color: #696969;
}
.separator {
    border-bottom: 1px solid #696969;
    width: 150px;
    margin-right: 20px;
    margin-left: 20px;
}
.colorOverride {
    color: #ffffff;
}
