.ledger {
    section {
        > div:first-of-type {
            display: flex;
            max-width: 385px;
            margin: 0 auto;
        }
        p + p {
            margin-top: -15px;
            font-weight: 600;
            color: var(--primary);
        }
        small {
            display: block;
            height: 18px;
            font-size: 14px;
        }
    }
}
