$header: 110px;
$footer: 70px;

.onboarding {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    header {
        width: 100%;
        height: $header;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        a {
            position: absolute;
            top: 50px;
            right: 30px;
            &:hover {
                color: var(--primary);
            }
        }
    }

    > div:first-of-type > div {
        position: absolute;
        top: $header;
        left: 0px;
        height: calc(100% - #{$header});
        width: 100%;
        z-index: 2;

        > form {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            padding: 0 30px 230px;

            &.padded {
                padding: 0 30px 180px;
            }

            section {
                width: calc(100vw - 60px);
                max-width: 640px;
                text-align: center;

                &.wide {
                    max-width: none;
                }

                &.long {
                    padding-top: 100px;
                }

                > p {
                    margin-bottom: 50px;
                }
            }
        }
    }

    footer,
    footer > div {
        position: absolute;
        bottom: 0px;
        height: $footer;
        width: 100%;
        display: flex;
        align-items: stretch;
        overflow: hidden;
        * {
            flex: 1;
        }
    }

    footer {
        > div {
            bottom: -$footer;
            transition: bottom 0.6s cubic-bezier(0.4, 0, 1, 1);
        }
        &.choiceDefault > div:nth-child(1),
        &.choiceLedger > div:nth-child(2) {
            bottom: 0px;
            transition: bottom 0.6s cubic-bezier(0, 0, 0.2, 1);
            z-index: 2;
        }
    }

    @media print {
        footer,
        header,
        nav,
        h1,
        p {
            display: none;
        }
    }

    pre {
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        background: var(--box-bg);
        padding: 20px 10px 20px 20px;
        max-width: 560px;
        white-space: pre-wrap;
        word-wrap: break-word;
        user-select: text;
        max-height: 560px;
        overflow-y: scroll;

        span {
            display: block;
            margin-bottom: 20px;
            user-select: text;
        }
    }
}

.highlight {
    color: var(--primary);
    margin: 0 2px;
}

.steps {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0px;
    li {
        display: block;
        list-style: none;
        width: 12px;
        height: 12px;
        background: var(--body-alt);
        margin: 0 18px;
        position: relative;
        border-radius: 12px;
        > span {
            display: block;
            width: 12px;
            height: 12px;
            background: var(--primary);
            transform: scale(0);
            border-radius: 12px;
            transition: transform 0.2s ease-out;
        }
        &:before,
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 5px;
            left: -36px;
            height: 2px;
            width: 36px;
            background: var(--body-alt);
            transition: width 0.2s ease-out;
        }
        &:after {
            width: 0px;
            background: var(--primary);
        }
        &:first-child:before,
        &:first-child:after {
            display: none;
        }
    }
    .active {
        > span {
            background: var(--primary);
            transform: scale(1);
            transition: transform 0.4s ease-out;
        }
        &:after {
            width: 36px;
        }
    }
}

.seed {
    display: block;
    margin: 32px auto;
    width: calc(100vw - 40px);
    max-width: 920px;
    text-align: left;

    &.narrow {
        max-width: 460px;
        margin-bottom: 16px;
        padding-left: 30px;
        text-align: center;
        position: relative;
    }

    button,
    > div > span {
        display: inline-block;
        background: transparent;
        border: none;
        color: var(--secondary);
        font-size: 24px;
        line-height: 46px;
        height: 48px;
        margin: 0;
        font-family: 'SourceCodePro';
        transition: transform 0.1s cubic-bezier(0.4, 0, 0.6, 1);

        &.disabled {
            opacity: 0.1;
            color: var(--body);
        }

        &:hover {
            position: relative;
            cursor: pointer;
            color: var(--primary);
            transform: scale(1.5);
        }

        &:active {
            transform: scale(2);
        }

        &:focus {
            outline: 0;
        }
    }

    > div {
        padding: 10px 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        button {
            flex: 0 0 3.6%;
        }
        > span {
            flex: 0 0 33.33%;
            letter-spacing: 18px;
            text-align: center;
            line-height: 32px;
            height: 43px;
            font-size: 24px;
            position: relative;
            color: var(--primary);
            pointer-events: none;
            em {
                position: absolute;
                display: block;
                background: var(--secondary);
                width: 26px;
                height: 26px;
                top: 2px;
                left: -48px;
                font-style: normal;
                line-height: 26px;
                font-size: 14px;
                padding: 0px;
                letter-spacing: 0px;
                color: var(--secondary-body);
            }
        }
    }

    > div:nth-child(2) {
        margin-top: 6px;
        line-height: 21px;
        vertical-align: middle;

        > strong {
            margin: 0 4px;
            color: var(--primary);
            letter-spacing: 1;
        }
        > div {
            padding-top: 4px;
        }
    }
}

.choice {
    margin: 80px auto 0;
    width: 100%;
    max-width: 680px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    > a,
    > span {
        flex-basis: 30.5%;
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        border: 1px solid var(--box-alt);
        background: var(--box-bg);
        transition: background 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
        position: relative;

        &.secure {
            border-color: var(--body);
            flex: 0 0 34%;
            border-radius: 0px 0px 6px 6px;
            padding: 10px 0;
        }

        > div {
            display: block;
            position: relative;
            margin: 28px auto 16px;
            width: 72px;
            height: 72px;
        }

        &:hover {
            background: var(--box-alt);
            > div {
                &:before {
                    transform: translate(-50%, -50%) scale(1.15);
                    border-color: var(--body);
                }
                &:after {
                    transform: translate(-50%, -50%) scale(0.9);
                }
            }
        }

        h4 {
            margin: 0px;
            font-size: 18px;
            line-height: 21px;
            margin-bottom: 38px;
            padding: 0 20px;
        }

        h3 {
            position: absolute;
            top: -34px;
            left: -1px;
            line-height: 34px;
            text-align: center;
            width: calc(100% + 2px);
            background: var(--body);
            color: var(--body-bg);
            font-size: 14px;
            border-radius: 6px 6px 0px 0px;
        }
    }
}

.arrows {
    display: block;
    position: absolute;
    top: 50%;
    right: -60px;
    margin-top: -80px;

    a {
        display: block;
        width: 45px;
        height: 45px;
        font-size: 14px;
        background: var(--primary);
        color: var(--primary-body);
        padding-top: 11px;

        &:hover {
            background: var(--primary-hover);
        }

        &:first-child {
            background: var(--dark);
            span {
                color: var(--dark-body);
            }
            &:hover {
                background: var(--dark-hover);
            }
        }

        span {
            font-family: 'Icons';
            color: var(--primary-body);
        }

        &.disabled {
            opacity: 0.25;
            pointer-events: none;
        }
    }
    > span {
        margin: 8px 40px;
        font-size: 18px;
    }
}

@keyframes fly {
    to {
        transform: translate(0, 0);
    }
}

.done {
    p {
        margin: 40px auto;
        max-width: 480px;
    }
}

.tutorial {
    p {
        max-width: 580px;
        text-align: center;
        a {
            color: var(--primary);
            text-decoration: underline;
        }
    }
    ul {
        list-style: none;

        li {
            line-height: 32px;
            margin-bottom: 18px;

            &:last-child {
                margin-bottom: 0px;
            }

            pre {
                font-family: 'SourceCodePro';
                background: var(--box-bg);
                padding: 8px 20px;
                pointer-events: all;
                user-select: all;
            }
        }
    }

    ul + p,
    p + button {
        margin-top: 20px;
    }
}

.usb {
    margin-top: -50px;
}

.activation {
    align-items: center;
    justify-content: center;
    fieldset {
        text-align: center;
    }
}
