.onboarding {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    > form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
    }

    > div:first-of-type > div {
        position: absolute;
        top: var(--header-height);
        left: 0px;
        height: calc(100% - var(--header-height));
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        z-index: 2;
        width: 100%;

        > form {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            margin-bottom: 0px;
            width: calc(100vw - 40px);
            max-width: 560px;

            section {
                width: 100%;
            }
        }
    }

    header {
        width: 100%;
        height: var(--header-height);
        -webkit-app-region: drag;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
            color: var(--body);
        }
        > a {
            margin-left: auto;
            margin-right: 30px;
            &:hover span {
                color: var(--primary);
            }
        }
    }

    section {
        width: auto;
        padding: 0 20px;
        margin: auto;
        text-align: center;

        h1 {
            font-size: 26px;
        }
        h2 {
            font-size: 21px;
            font-weight: 300;
        }
        form {
            width: calc(100vw - 20px);
            max-width: 560px;
        }

        > p {
            font-size: 16px;
            line-height: 24px;
            font-weight: 300;
            width: 100%;
            text-align: center;
            max-width: none;
        }
    }

    footer {
        height: 130px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 2;
        margin-bottom: 0px;

        @media print {
            display: none;
        }
    }
}

.seed {
    display: block;
    margin: 32px auto;
    width: calc(100vw - 40px);
    max-width: 920px;
    text-align: left;

    button,
    span {
        display: inline-block;
        background: transparent;
        border: none;
        color: var(--secondary);
        font-size: 21px;
        line-height: 36px;
        height: 34px;
        margin: 5px 0;
        font-family: 'SourceCode';
        font-weight: 300;
        transition: transform 0.1s cubic-bezier(0.4, 0, 0.6, 1);

        &:hover {
            position: relative;
            cursor: pointer;
            color: var(--primary);
            transform: scale(1.5);
        }

        &:active {
            transform: scale(2);
        }

        &:focus {
            outline: 0;
        }
    }

    > div {
        padding: 10px 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        > span,
        button {
            flex: 0 0 3.6%;
        }
    }

    span {
        pointer-events: none;
    }

    &.narrow {
        padding-left: 180px;
        position: relative;
        > div {
            height: 160px;
        }
        canvas {
            position: absolute;
            top: 0px;
            left: 0px;
            border: 10px solid white;
            box-sizing: content-box;
        }
        @media (max-width: 900px) {
            padding: 180px 0 0 0;
            canvas {
                left: 50%;
                transform: translate(-50%, 0);
            }
        }
    }
}

.wave {
    position: absolute;
    bottom: 0px;
    width: 100vw;
    height: 227px;
    > div {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        background: var(--wave-file) repeat-x;
        background-size: auto 227px;
        background-position: 0 0;
        opacity: 0.15;
        transition: background-position 3s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    > div:last-child {
        opacity: 0.25;
        background-position: 50% 0;
    }
}

.steps {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0px;
    li {
        display: block;
        list-style: none;
        width: 12px;
        height: 12px;
        background: var(--body-alt);
        margin: 0 18px;
        position: relative;
        border-radius: 12px;
        > span {
            display: block;
            width: 12px;
            height: 12px;
            background: var(--primary);
            transform: scale(0);
            border-radius: 12px;
            transition: transform 0.2s ease-out;
        }
        &:before,
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 5px;
            left: -36px;
            height: 2px;
            width: 36px;
            background: var(--body-alt);
            transition: width 0.2s ease-out;
        }
        &:after {
            width: 0px;
            background: var(--primary);
        }
        &:first-child:before,
        &:first-child:after {
            display: none;
        }
    }
    .active {
        > span {
            background: var(--primary);
            transform: scale(1);
            transition: transform 0.4s ease-out;
        }
        &:after {
            width: 36px;
        }
    }
}

.hide-on-print {
    @media print {
        display: none;
    }
}
