.wrapper {
    display: block;
    margin: 30px auto;
    height: calc(100vh - 350px);
    width: calc(100vh - 350px);
    max-width: 450px;
    max-height: 450px;
    border-top: 1px solid var(--body-alt);
    border-left: 1px solid var(--body-alt);

    &.disabled {
        pointer-events: none;
    }

    button {
        background: transparent;
        border: 1px solid var(--body-alt);
        border-top: 1px solid var(--body-color);
        border-left: 1px solid var(--body-color);
        color: var(--body-color);
        display: block;
        float: left;
        width: 11.111%;
        height: 11.111%;
        transition: 0.3s all ease;

        &:hover {
            cursor: pointer;
            background: var(--body-alt);
        }

        &:focus {
            outline: 0;
        }
    }
}
