.seed {
    display: flex;
    max-width: 500px;
    margin-bottom: 60px;
    width: 100%;
    > canvas {
        margin-right: 20px;
    }
    p {
        display: flex;
        flex-wrap: wrap;
        max-width: 500px;
        letter-spacing: 2px;
        font-family: monospace;
        font-size: var(--font-size-m);

        @media print {
            color: black;
        }
        span {
            margin-right: 16px;
        }
    }
}
.nav {
    button {
        margin: 0 8px;
    }
    @media print {
        display: none;
    }
}

.hide-on-print {
    @media print {
        display: none;
    }
}
