.seed {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 560px;
    margin-bottom: 60px;
    width: 100%;
    > canvas {
        margin-right: 20px;
        border: 12px solid #fff;
    }
    p {
        display: flex;
        flex-wrap: wrap;
        max-width: 500px;
        letter-spacing: 2px;
        font-family: monospace;
        font-size: 18px;
        line-height: 18px;
        margin: 0px;

        @media print {
            color: black;
        }
        span {
            margin: 8px;
        }
    }
}
.nav {
    button {
        margin: 0 8px;
    }
    @media print {
        display: none;
    }
}

.hide-on-print {
    @media print {
        display: none;
    }
}
