name: Trinity Desktop Tests

on:
  pull_request:
    paths:
      - '*'
      - 'src/shared/**'
      - 'src/desktop/**'
      - '.github/workflows/test_desktop.yml'
    branches-ignore:
      - 'l10n_develop'
  push:

jobs:
  test-desktop:
    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v2

    - name: Debug
      run: |
        echo ${{ github.ref }} ${{ github.head_ref }} ${{ github.base_ref }}
        which node
        node -v

    - name: Set up Node.js
      uses: actions/setup-node@v1
      with:
        node-version: 10.x

    # - name: Try symlinking node
    #   run: |
    #     sudo ln -sf $(which node) /usr/local/bin/node

    - name: Install shared dependencies
      run: |
        yarn
        yarn deps:shared
    
    - name: Install required packages
      run: |
        sudo apt update
        sudo apt install -yq gconf-service libasound2 libatk1.0-0 libc6 libcairo2 libcups2 libdbus-1-3 \
          libexpat1 libfontconfig1 libgcc1 libgconf-2-4 libgdk-pixbuf2.0-0 libglib2.0-0 libgtk-3-0 libnspr4 \
          libpango-1.0-0 libpangocairo-1.0-0 libstdc++6 libx11-6 libx11-xcb1 libxcb1 libxcomposite1 \
          libxcursor1 libxdamage1 libxext6 libxfixes3 libxi6 libxrandr2 libxrender1 libxss1 libxtst6 \
          ca-certificates fonts-liberation libappindicator1 libnss3 lsb-release xdg-utils wget \
          xvfb x11vnc x11-xkb-utils xfonts-100dpi xfonts-75dpi xfonts-scalable xfonts-cyrillic x11-apps
    
    - name: Install OpenSSL 1.0.2k - Linux
      # For Realm on Linux
      # Use this version of OpenSSL instead of the one provided by Ubuntu
      run: |
        curl -SL https://www.openssl.org/source/old/1.0.2/openssl-1.0.2k.tar.gz | tar -zx
        cd openssl-1.0.2k
        ./Configure -DPIC -fPIC -fvisibility=hidden -fvisibility-inlines-hidden \
          no-zlib-dynamic no-dso linux-x86_64 --prefix=/usr
        make
        sudo make install_sw
        cd ..
        rm -rf openssl-1.0.2k
        echo "::add-path::/usr/local/ssl"
    
    - name: Debug
      run: |
        node -v
        echo $PATH
        npm -v
        which node
        node -e "console.log(process.versions)"

    - name: Install desktop dependencies
      run: |
        cd src/desktop
        npm ci

    - name: Run ESLint
      run: yarn lint:desktop

    - name: Run desktop tests
      run: |
        cd src/desktop
        xvfb-run --server-args="-screen 0 1024x768x24" npm test
